@using ananlips.Models;

@using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();

    var data_SearchRequest = dict.ContainsKey("data_SearchRequest") ? (SearchRequest)dict["data_SearchRequest"] : new SearchRequest();
    var data_keyword = dict.ContainsKey("data_keyword") ? dict["data_keyword"].ToString() : "";
    var data_ListOrderProduct = DefaultView.ListOrderProduct();
    var data_BestSell = DefaultView.FE_Product.GetBestSell();


}
<div id="container">
    <div id="content" role="main">


        <nav class="woocommerce-breadcrumb">
            <a href="@Url.Action("Index","Home")">Trang chủ</a><span class="navigation-pipe">
                &nbsp;
            </span>@data_keyword
        </nav>
        <div class="row sidebar-left">

            <div class="view-product-list main-content col-xs-12 col-sm-8 col-md-9">


                <div class="subcategories">
                    <ul>

                        <li class="current-categorie">
                            <a href="#">Kết quả tìm kiếm cho “ @data_keyword ”</a>
                        </li>
                       

                    </ul>
                </div>
                <h1 class="page-title">
                    <span>@data_keyword</span>
                    <div class="display-product-option">
                        <ul>
                            <li class="view-as-grid selected">
                                <span>grid</span>
                            </li>
                            <li class="view-as-list ">
                                <span>list</span>
                            </li>

                        </ul>
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby">
                                @foreach (var item in data_ListOrderProduct)
                                {
                                    <option value="@item.ID">@item.Name</option>

                                }

                            </select>
                        </form>
                        @*<p class="woocommerce-result-count">
                                Showing 1–18 of 28 results
                            </p>*@
                    </div>
                </h1>
                <div class="row list-product-row">
                    <ul class="grid product-list clearfix columns-3"></ul>
                </div>
                <nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">&nbsp;</h2><div class="nav-links">
                        @*<span class="page-numbers current">1</span>
                            <a class="page-numbers" href="https://thefaceshopvn.com/danh-muc/duong-da/page/2/">2</a>
                            <a class="next page-numbers" href="https://thefaceshopvn.com/danh-muc/duong-da/page/2/">Next <i class="fa fa-angle-double-right"></i></a>*@
                        <button id="btnshowmore" onclick="showmore()">Showmore</button>
                    </div>
                </nav>
                <form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        @foreach (var item in data_ListOrderProduct)
                        {
                            <option value="@item.ID">@item.Name</option>

                        }
                    </select>
                </form>
                <script id="ProductItemTemplate" type="text/x-jquery-tmpl">
                    <li class="col-xs-12 col-md-4 col-sm-6 post-${ProductId} product type-product status-publish has-post-thumbnail product_cat-chia-seed product_cat-${CategoryId} product_cat-${SubCategoryId} last instock sale shipping-taxable purchasable product-type-simple">
                        <div class="product-container">
                            <a href="${UrlAction}" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                <a href="${UrlAction}" class="woocommerce-LoopProduct-link">
                                </a><a href="${UrlAction}">
                                    <img width="300" height="366" src="${ProductImg}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="${ProductName}" title="${ProductName}" srcset="${ProductImg} 100w, ${ProductImg} 300w, ${ProductImg} 270w" sizes="(max-width: 300px) 100vw, 300px">
                                </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="${BillUrlAction}" class="compare button" data-product_id="${ProductId}" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="${ProductId}">Quick View</a></div>
                                <div class="add-to-cart"><a href="${BillUrlAction}" rel="nofollow" data-product_id="${ProductId}" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="${ProductId}">Quick View</a>
                            </div><div class="right-block">
                                <h5 class="product-name"><a title="${ProductName}" href="${UrlAction}">${ProductName}</a></h5><div class="content_price">
                                    <span class="price"><del><span class="woocommerce-Price-amount amount">${GetNumber(Price)}<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">${GetNumber(PriceAmount)}<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                            </div>
                        </div>
                    </li>
                </script>
                <form id="frmsearchpaging">

                    <input type="hidden" id="pagenum" value="@data_SearchRequest.pagenum" />
                    <input type="hidden" id="pagesize" value="@data_SearchRequest.pagesize" />
                    <input type="hidden" id="entryid" value="0" />
                    <input type="hidden" id="orderby" value="" />
                    <input type="hidden" id="keyword" value="@data_keyword" />
                    <input type="hidden" id="totalpage" value="0" />

                </form>


            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="sidebar">
                    <div id="secondary" class="secondary">
                        <div id="widget-area" class="widget-area" role="complementary">
                            <aside id="text-4" class="widget widget_text">
                                <h2 class="widget-title">Sản phẩm bán chạy</h2><div class="textwidget">
                                    <div class="layout_ProductSidebar">
                                        <ul class="product-list">
                                            @foreach (var ProductItem in data_BestSell)
                                            {
                                                <li>
                                                    <div class="left-block kt-template-loop">
                                                        <a href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})" title="@ProductItem.ProductName">
                                                            <img class="owl-lazy wp-post-image" src="@ProductItem.ProductImg" data-src="@ProductItem.ProductImg" width="300" height="300" alt="@ProductItem.ProductName"><span class="giamgia_">-@ProductItem.Discount<i>%</i></span>
                                                        </a><div class="quick-view">
                                                            <a href="#" class="search yith-wcqv-button" data-product_id="@ProductItem.ProductId">Quick View</a>
                                                        </div><div class="add-to-cart"><a href="@Url.Action("AddItemToBill","Bill",new { ProductId=ProductItem.ProductId})" rel="nofollow" data-product_id="@ProductItem.ProductId" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                        <a href="#" class="button yith-wcqv-button" data-product_id="@ProductItem.ProductId">Quick View</a>
                                                    </div><div class="right-block">
                                                        <h5 class="product-name"><a title="@ProductItem.ProductName" href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})">@ProductItem.ProductName</a></h5><div class="content_price">
                                                            <span class="price product-price">
                                                                <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItem.Price))<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItem.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    </div><div class=" clearfix"></div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
        jQuery(document).ready(function () {
            doSearch();

        jQuery(".woocommerce-ordering select").change(function () {
            var pagenum = 1;
            jQuery("#frmsearchpaging #pagenum").val(pagenum);
            jQuery("#frmsearchpaging #orderby").val(jQuery(this).val());
            $('#btnshowmore').prop("disabled", false);
            var tmp2 = $("ul.product-list.clearfix.columns-3").empty();
            $('body').scrollTop(0);
            doSearch();

        });

    });
        function showmore() {
            var pagesize = jQuery("#frmsearchpaging #pagesize").val();
            var pagenum = jQuery("#frmsearchpaging #pagenum").val();
            var totalpage = jQuery("#frmsearchpaging #totalpage").val();
            var pagemax = parseInt(totalpage) / parseInt(pagesize)   + 1;
            if ((pagenum < pagemax)) {
                pagenum = parseInt(pagenum) + 1;
                jQuery("#frmsearchpaging #pagenum").val(pagenum);
                doSearch();
            }
            else {
                $('#btnshowmore').prop("disabled", true);
            }
        }
        function doSearch() {
        if (!jQuery("#frmsearchpaging #orderby").val()) jQuery("#frmsearchpaging #orderby").val(jQuery(".woocommerce-ordering select").val());
        var dataPost = {
            id: jQuery("#frmsearchpaging #entryid").val()
            , pagenum: jQuery("#frmsearchpaging #pagenum").val()
            , pagesize: jQuery("#frmsearchpaging #pagesize").val()
            , orderby: jQuery("#frmsearchpaging #orderby").val()
            , keyword: jQuery("#frmsearchpaging #keyword").val()
            //, sorttype: jQuery("#frmsearchpaging #sorttype").val()
        };
        var r = '@Html.Raw(@Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
        /**/
            jQuery.post(r + "Search/Read", dataPost, function (data) {
        /**/
            var tmp = $(".row list-product-row");
            var tmp2 = $("ul.product-list.clearfix.columns-3");
            for (var i = 0; i < data.dataresult.length; i++) {
                var tmpr = '@Url.Action("Index", "Product")';
                data.dataresult[i].UrlAction = tmpr + '?id=' + data.dataresult[i].ProductId;
                 tmpr = '@Url.Action("AddItemToBill", "Bill")';
                data.dataresult[i].BillUrlAction = tmpr + '?ProductId=' + data.dataresult[i].ProductId;
                var template = jQuery('#ProductItemTemplate').tmpl(data.dataresult[i]);
                tmp2.append(template);
            }
            if (data && data.total)
                jQuery("#frmsearchpaging #totalpage").val(data.total);

            });


    }

    function GetNumber(value) {
        return value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }
    

</script>
