
@using ananlips.Models;
@using System.Globalization;
@{
    var data_Bill = DefaultView.FE_Bill.GetBillSection();
    if (data_Bill.BillDetails == null) { data_Bill.BillDetails = new List<DefaultView.FE_BillDetail>(); }
}
<form class="woocommerce-cart-form" action="@Url.Action("UpdateBill","Bill")" method="post">
    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
        <thead>
            <tr>
                <th class="product-remove">&nbsp;</th>
                <th class="product-thumbnail">&nbsp;</th>
                <th class="product-name">Sản phẩm</th>
                <th class="product-price">Giá</th>
                <th class="product-quantity">Số lượng</th>
                <th class="product-subtotal">Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < data_Bill.BillDetails.Count(); i++)
            {
                <tr class="woocommerce-cart-form__cart-item cart_item" id="@data_Bill.BillDetails[i].ProductId">
                    <td class="product-remove">
                        <a href="javascript:void(0)" onclick="removeBillItem(this)" class="remove" aria-label="Xóa sản phẩm này" data-product_id="@data_Bill.BillDetails[i].ProductId" data-product_sku="">×</a>
                    </td>
                    <td class="product-thumbnail">
                        <a href="@Url.Action("Index","Product",new {Id=@data_Bill.BillDetails[i].ProductId })"><img width="100" height="122" src="@data_Bill.BillDetails[i].ProductImg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="@data_Bill.BillDetails[i].ProductName" srcset="@data_Bill.BillDetails[i].ProductImg 100w, @data_Bill.BillDetails[i].ProductImg 300w, @data_Bill.BillDetails[i].ProductImg 270w" sizes="(max-width: 100px) 100vw, 100px"></a>
                    </td>
                    <td class="product-name" data-title="Sản phẩm">
                        <a href="@Url.Action("Index","Product",new {Id=@data_Bill.BillDetails[i].ProductId })">@data_Bill.BillDetails[i].ProductName</a>
                    </td>
                    <td class="product-price" data-title="Giá">
                        <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Bill.BillDetails[i].PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span>
                    </td>
                    <td class="product-quantity" data-title="Số lượng">
                        <div class="quantity">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="quantity-label">
                                            Số lượng
                                        </td>
                                        <td>
                                            <span class="quantity-minus">-</span>
                                            <input type="text" step="1" min="0" name="Quantity" value="@data_Bill.BillDetails[i].Quantity" title="Qty" class="input-text qty text" size="4">
                                            <input type="hidden" name="ProductId" value="@data_Bill.BillDetails[i].ProductId">
                                            <span class="quantity-plus">+</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td class="product-subtotal" data-title="Tổng cộng">
                        <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", (data_Bill.BillDetails[i].PriceAmount * data_Bill.BillDetails[i].Quantity)))<span class="woocommerce-Price-currencySymbol">₫</span></span>
                    </td>
                </tr>
            }


            <tr><td colspan="4" style="text-align:right">Tổng cộng</td><td>@data_Bill.Quantity</td><td><span class="price-text" style="color: red;    font-weight: 600;"><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Bill.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span></span></td></tr>
        </tbody>
    </table><div class="clearfix">
        <div class="pull-left">
            <a href="@Url.Action("Index","Home")" class="continue_shopping"><i class="fa fa-angle-left"></i>Tiếp tục mua hàng</a>
        </div><div class="cart-buttons inner-right">
            <div class="buttons clearfix">
                <input type="button" onclick="updateBillItem()" class="button update_cart_incart" name="update_cart" value="Cập nhật lại giỏ hàng">
                <a href="@Url.Action("Checkout","Bill")" class="checkout-button button alt wc-forward">
                    Thanh toán
                    @*<input type="hidden" id="_wpnonce" name="_wpnonce" value="8e67f6e596"><input type="hidden" name="_wp_http_referer" value="/cart/">*@
                </a>
            </div>
        </div>
    </div>
</form>

