@using ananlips.Models;
@using System.Globalization;
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_Bill = dict.ContainsKey("data_Bill") ? (DefaultView.FE_Bill)dict["data_Bill"] : new DefaultView.FE_Bill();

    if (data_Bill.BillDetails == null) { data_Bill.BillDetails = new List<DefaultView.FE_BillDetail>(); }
}

<div class="content container">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="main-content">
                <div class="woocommerce">
                    @if (data_Bill.UserId == 0)
                    {
                        <div class="woocommerce-info">Bạn đã có tài khoản? <a href="@Url.Action("Login","Account",new {returnUrl="'"+Request.Url.ToString()+"'" })" class="showlogin">Ấn vào đây để đăng nhập</a></div>
                    }


                    <a class="continue_shopping" href="@Url.Action("Index","Home")" style="margin:10px 0;"><i class="fa fa-angle-left"></i>Tiếp tục mua hàng    </a>
                    <form id="checkout" name="checkout" method="post" class="checkout woocommerce-checkout" action="@Url.Action("SaveBill","Bill")" enctype="multipart/form-data" novalidate="novalidate">
                        <div class="col2-set" id="customer_details">
                            <div class="woocommerce-billing-fields">
                                <h3>Thông tin giao hàng</h3>
                                <div class="woocommerce-billing-fields__field-wrapper">
                                    <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-sort="20">
                                        <input type="text" class="input-text " name="FullName" id="billing_last_name" placeholder="Họ tên" value="@data_Bill.FullName" autocomplete="family-name">
                                    </p>
                                    <p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-sort="50">
                                        <input type="text" class="input-text " name="Address" id="billing_address_1" placeholder="Địa chỉ" value="@data_Bill.Address" autocomplete="address-line1">
                                    </p>
                                    <p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-sort="100">
                                        <input type="text" class="input-text " name="Phone" id="billing_phone" placeholder="Số điện thoại" value="@data_Bill.Phone" autocomplete="tel">
                                    </p>
                                    <p class="form-row form-row-last validate-email" id="billing_email_field" data-sort="110">
                                        <input type="text" class="input-text " name="Email" id="billing_email" placeholder="Email (nếu có)" value="@data_Bill.Email" autocomplete="email username">
                                    </p>
                                    <div>
                                        <p style="float:left;width:80%" class="form-row form-row-last validate-email" id="billing_email_field" data-sort="110">
                                            <input type="text" class="input-text " name="CaptchaCode" id="CaptchaCode" placeholder="Mã xác minh" autocomplete="email username">
                                        </p>
                                        <div style="float:right;width:18%" id="RenderCaptchaRandom"> @Html.Partial("_CaptchaRandomPartial")</div>
                                    </div>

                                </div>
                            </div>
                            <div class="woocommerce-account-fields">
                                <p class="form-row form-row-wide create-account woocommerce-validated">
                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                        <input class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" id="createaccount" type="checkbox" name="createaccount" value="1"> <span>Tạo tài khoản mới?</span>
                                    </label>
                                </p>
                                <div class="create-account" style="display: none;"><p class="form-row validate-required" id="account_password_field" data-sort=""><label for="account_password" class="">Mật khẩu tài khoản <abbr class="required" title="bắt buộc">*</abbr></label><input type="password" class="input-text " name="account_password" id="account_password" placeholder="Mật khẩu" value=""></p><div class="clear"></div></div>
                            </div>

                            <div class="woocommerce-additional-fields">
                                <div class="woocommerce-additional-fields__field-wrapper">
                                    <p class="form-row notes" id="order_comments_field" data-sort="">
                                        <textarea name="Comments" class="input-text " id="order_comments" placeholder="Ghi chú đơn hàng" rows="2" cols="5">@data_Bill.Comments</textarea>
                                    </p>
                                </div>
                            </div>
                            <div></div>

                        </div><div id="order_review" class="woocommerce-checkout-review-order">
                            <h3 id="order_review_heading">Đơn hàng của bạn</h3><table class="shop_table woocommerce-checkout-review-order-table" style="margin-top:13px; border-radius:5px;">
                                <thead>
                                    <tr>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-total">Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in data_Bill.BillDetails)
                                    {
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                @item.ProductName&nbsp;							 <strong class="product-quantity">× @item.Quantity</strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.Price)) <span class="woocommerce-Price-currencySymbol">₫</span></span>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                                <tfoot>


                                    <tr class="order-total">
                                        <th>Tổng cộng</th>
                                        <td><strong><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Bill.PriceAmount)) <span class="woocommerce-Price-currencySymbol">₫</span></span></strong> </td>
                                    </tr>


                                </tfoot>
                            </table>
                            <div id="payment" class="woocommerce-checkout-payment">
                                <ul class="wc_payment_methods payment_methods methods">

                                    <li class="wc_payment_method payment_method_cod">
                                        <input id="payment_method_cod" type="radio" checked="checked" class="input-radio" name="payment_method" value="cod" data-order_button_text="">

                                        <label for="payment_method_cod">
                                            Thanh toán khi nhận hàng
                                        </label>
                                        <div class="payment_box payment_method_cod" style="display:none;">
                                            <p>Trả tiền mặt khi giao hàng</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-row place-order">
                                    <noscript>
                                        Trình duyệt của bạn không hỗ trợ JavaScript, hoặc nó bị vô hiệu hóa, hãy đảm bảo bạn nhấp vào <em> Cập nhật giỏ hàng </ em> trước khi bạn thanh toán. Bạn có thể phải trả nhiều hơn số tiền đã nói ở trên, nếu bạn không làm như vậy.			<br /><input type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Cập nhật tổng" />
                                    </noscript>


                                    @*<input type="button" onclick="runtest()" class="button alt" value="text">*@</input>
                                    <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Đặt hàng">
                                    @*<input type="button" onclick="SaveBill()" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Đặt hàng">*@

                                    @*<input type="hidden" id="_wpnonce" name="_wpnonce" value="16a5ff6ab9">*@<input type="hidden" name="_wp_http_referer" value="/checkout/?wc-ajax=update_order_review">
                                </div>
                            </div>
                        </div><div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        validateFormPopup()
    });

    function validateFormPopup() {
        jQuery("form#checkout").validate({
            // Rules for form validation
            rules: {
                FullName: {
                    required: true,
                },
                Address: {
                    required: true,
                },
                Phone: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                CaptchaCode: {
                    required: true,
                },

            },
            // Messages for form validation
            messages: {
                FullName: {
                    required: "Thông tin bắt buộc"
                },
                Address: {
                    required:"Thông tin bắt buộc"
                },
                Phone: {
                    required: "Thông tin bắt buộc"
                },
                Email: {
                    required: "Thông tin bắt buộc",
                    email: "Email không đúng",
                },
                CaptchaCode: {
                    required: "Thông tin bắt buộc"
                },

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },

            submitHandler: function (form) {
                jQuery(form).ajaxSubmit({
                    //clearForm: true,//To clear form after ajax submitting
                    beforeSend: function () {
                        jQuery(document).ajaxStart(jQuery.blockUI({ message: '<i class="fa fa-spinner fa-3x fa-lg fa-spin txt-color-blueDark"></i>', theme: false })).ajaxStop(jQuery.unblockUI);

                    },
                    success: function (data) {
                        if (data.success) alerSuccess();
                        else {
                            alert(data.message);
                            RefreshPartial();

                        }
                    }
                });
                return false;
            }
        });
    }

    function RefreshPartial() {
        var r = '@Html.Raw(@Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
        jQuery("form#checkout #RenderCaptchaRandom").empty();
         //this should refresh PartImagesPartial
        $.ajax({
            url: r + "Home/GetCaptchaRandom",
            type: "GET",
            //dataType: "html",
            //contentType: false,
            //cache: false,
            data: { },
            success: function (data) {
                jQuery("form#checkout #RenderCaptchaRandom").html(data);
                jQuery("form#checkout #CaptchaCode").val("");
            }
        });
    }


    function SaveBill() {
        var dataPost = jQuery("form#checkout").serialize() ;
         var r = '@Html.Raw(@Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
        /**/
        jQuery.ajax({
            //contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: r + "Bill/SaveBill",
            data: dataPost,
            success: function (data) {

                if (data.success) alerSuccess();
                else {
                    //Refresh barcode
                    jQuery("form#checkout #RenderCaptchaRandom").empty();

                    jQuery.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'html',
                        type: 'GET',
                        url: r + "Home/generateCaptcha",
                        data: {},
                        success: function (data) {

                            jQuery("form#checkout #RenderCaptchaRandom").html(data);
                            jQuery("form#checkout #CaptchaCode").val("");
                        },
                        failure: function (response) {

                        }
                    });
                }
            },
            failure: function (response) {

            }
        });



    }
    function alerSuccess() {

        bootbox.alert("Đơn hàng của bạn đã được ghi nhận và chờ xử lý.", function () { window.location = ("@Url.Action("Index","Home")");  })
        setTimeout(function () {
            // be careful not to call box.hide() here, which will invoke jQuery's hide method
            bootbox.hideAll();
             window.location = ("@Url.Action("Index","Home")");
        }, 3000);
    }
</script>
