@using ananlips.Models;
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_Bill = dict.ContainsKey("data_Bill") ? (DefaultView.FE_Bill)dict["data_Bill"] : new DefaultView.FE_Bill();
}

<div class="content container">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="main-content">
                <div class="woocommerce">
                    @if (data_Bill.UserId == 0)
                    {
                        <div class="woocommerce-info">Bạn đã có tài khoản? <a href="@Url.Action("Login","Account",new {returnUrl="'"+Request.Url.ToString()+"'" })" class="showlogin">Ấn vào đây để đăng nhập</a></div>
                    }

                    <form class="woocomerce-form woocommerce-form-login login" method="post" style="display:none;">
                        <p>Nếu trước đây bạn đã mua hàng của chúng tôi, vui lòng ghi đầy đủ thông tin trong các hộp dưới đây. Nếu bạn là khách hàng mới, vui lòng chuyển tới phần Đơn hàng &amp; Giao hàng.</p><p class="form-row form-row-first">
                            <label for="username">Tên đăng nhập hoặc email <span class="required">*</span></label>
                            <input type="text" class="input-text" name="username" id="username">
                        </p><p class="form-row form-row-last">
                            <label for="password">Mật khẩu <span class="required">*</span></label>
                            <input class="input-text" type="password" name="password" id="password">
                        </p>
                        <div class="clear"></div><div class="apsl-login-networks theme-4 clearfix">
                            <span class="apsl-login-new-text">Social connect:</span><div class="social-networks">
                                <a href="https://thefaceshopvn.com/wp-login.php?apsl_login_id=facebook_login&amp;state=cmVkaXJlY3RfdG89aHR0cHMlM0ElMkYlMkZ0aGVmYWNlc2hvcHZuLmNvbSUzQTQ0MyUyRmNoZWNrb3V0JTJG" title="Đăng nhập qua facebook">
                                    <div class="apsl-icon-block icon-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span class="apsl-login-text">Tài khoản</span>
                                        <span class="apsl-long-login-text">Đăng nhập qua facebook</span>
                                    </div>
                                </a>
                                <a href="https://thefaceshopvn.com/wp-login.php?apsl_login_id=google_login&amp;state=cmVkaXJlY3RfdG89aHR0cHMlM0ElMkYlMkZ0aGVmYWNlc2hvcHZuLmNvbSUzQTQ0MyUyRmNoZWNrb3V0JTJG" title="Đăng nhập qua google">
                                    <div class="apsl-icon-block icon-google">
                                        <i class="fa fa-google"></i>
                                        <span class="apsl-login-text">Tài khoản</span>
                                        <span class="apsl-long-login-text">Đăng nhập qua google</span>
                                    </div>
                                </a>
                            </div>
                        </div><p class="form-row">
                            <input type="hidden" id="_wpnonce" name="_wpnonce" value="4453938b41"><input type="hidden" name="_wp_http_referer" value="/checkout/">		<input type="submit" class="button" name="login" value="Đăng nhập">
                            <input type="hidden" name="redirect" value="https://thefaceshopvn.com/checkout/">
                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Ghi nhớ mật khẩu</span>
                            </label>
                        </p><p class="lost_password">
                            <a href="https://thefaceshopvn.com/my-account/lost-password/">Quên mật khẩu?</a>
                        </p><div class="clear"></div>
                    </form>
                    <a class="continue_shopping" href="@Url.Action("Index","Home")" style="margin:10px 0;"><i class="fa fa-angle-left"></i>Tiếp tục mua hàng    </a>
                    <form id="checkout" name="checkout" method="post" class="checkout woocommerce-checkout" action="https://thefaceshopvn.com/checkout/" enctype="multipart/form-data" novalidate="novalidate">
                        <div class="col2-set" id="customer_details">
                            <div class="woocommerce-billing-fields">
                                <h3>Thông tin giao hàng</h3>
                                <div class="woocommerce-billing-fields__field-wrapper">
                                    <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-sort="20">
                                        <input type="text" class="input-text " name="@data_Bill.FullName" id="billing_last_name" placeholder="Họ tên" value="" autocomplete="family-name">
                                    </p>
                                    <p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-sort="50">
                                        <input type="text" class="input-text " name="@data_Bill.Address" id="billing_address_1" placeholder="Địa chỉ" value="" autocomplete="address-line1">
                                    </p>
                                    <p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-sort="100">
                                        <input type="tel" class="input-text " name="@data_Bill.Phone" id="billing_phone" placeholder="Số điện thoại" value="" autocomplete="tel">
                                    </p>
                                    <p class="form-row form-row-last validate-email" id="billing_email_field" data-sort="110">
                                        <input type="email" class="input-text " name="@data_Bill.Email" id="billing_email" placeholder="Email (nếu có)" value="" autocomplete="email username">
                                    </p>
                                </div>
                            </div><div class="woocommerce-account-fields">
                                <p class="form-row form-row-wide create-account woocommerce-validated">
                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                        <input class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" id="createaccount" type="checkbox" name="createaccount" value="1"> <span>Tạo tài khoản mới?</span>
                                    </label>
                                </p><div class="create-account" style="display: none;"><p class="form-row validate-required" id="account_password_field" data-sort=""><label for="account_password" class="">Mật khẩu tài khoản <abbr class="required" title="bắt buộc">*</abbr></label><input type="password" class="input-text " name="account_password" id="account_password" placeholder="Mật khẩu" value=""></p><div class="clear"></div></div>
                            </div>
                            <div class="woocommerce-shipping-fields"></div>
                            <div class="woocommerce-additional-fields">
                                <div class="woocommerce-additional-fields__field-wrapper"><p class="form-row notes" id="order_comments_field" data-sort="">
                                    <textarea name="@data_Bill.Comments" class="input-text " id="order_comments" placeholder="Ghi chú đơn hàng" rows="2" cols="5"></textarea></p></div>
                            </div>
                        </div><div id="order_review" class="woocommerce-checkout-review-order">
                            <h3 id="order_review_heading">Đơn hàng của bạn</h3><table class="shop_table woocommerce-checkout-review-order-table" style="margin-top:13px; border-radius:5px;">
                                <thead>
                                    <tr>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-total">Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            Kem Lót Bắt Sáng TFS HIGHLIGHTER BEAM&nbsp;							 <strong class="product-quantity">× 3</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="woocommerce-Price-amount amount">657,000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            Bộ Dưỡng Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING&nbsp;							 <strong class="product-quantity">× 1</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="woocommerce-Price-amount amount">1,790,000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            Kem Dưỡng Giúp Da Săn Mịn POMEGRANATE AND COLLAGEN VOLUME LIFTING CREAM&nbsp;							 <strong class="product-quantity">× 1</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="woocommerce-Price-amount amount">449,000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>








                                    <tr class="order-total">
                                        <th>Tổng cộng</th>
                                        <td><strong><span class="woocommerce-Price-amount amount">2,896,000<span class="woocommerce-Price-currencySymbol">₫</span></span></strong> </td>
                                    </tr>


                                </tfoot>
                            </table>
                            <div id="payment" class="woocommerce-checkout-payment">
                                <ul class="wc_payment_methods payment_methods methods">
                                    <li class="wc_payment_method payment_method_cheque">
                                        <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" checked="checked" data-order_button_text="">

                                        <label for="payment_method_cheque">
                                            Thanh toán bằng cách chuyển khoản
                                        </label>
                                        <div class="payment_box payment_method_cheque">
                                            <p>Sau khi chuyển khoản, chúng tôi sẽ gọi điện xác nhận. Hoặc quý khách có thể liên hệ trực tiếp với chúng tôi thông qua hotline: <b>0909 216 445</b> (Call/ SMS/ Zalo – Hỗ trợ 24/24)</p>
                                        </div>
                                    </li>
                                    <li class="wc_payment_method payment_method_cod">
                                        <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">

                                        <label for="payment_method_cod">
                                            Thanh toán khi nhận hàng
                                        </label>
                                        <div class="payment_box payment_method_cod" style="display:none;">
                                            <p>Trả tiền mặt khi giao hàng</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-row place-order">
                                    <noscript>
                                        Trình duyệt của bạn không hỗ trợ JavaScript, hoặc nó bị vô hiệu hóa, hãy đảm bảo bạn nhấp vào <em> Cập nhật giỏ hàng </ em> trước khi bạn thanh toán. Bạn có thể phải trả nhiều hơn số tiền đã nói ở trên, nếu bạn không làm như vậy.			<br /><input type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Cập nhật tổng" />
                                    </noscript>



                                    <input type="button" onclick="SaveBill()" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Đặt hàng">

                                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="16a5ff6ab9"><input type="hidden" name="_wp_http_referer" value="/checkout/?wc-ajax=update_order_review">
                                </div>
                            </div>
                        </div><div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    function saveBill() {

    //var myjson = [];
    //     jQuery("form#checkout").serialize();
    //     .find("tr.cart_item").each(function () {
    //        var tablerow = jQuery(this);
    //        var objrow = {};
    //        jQuery("td input", tablerow).each(function () {
    //            var input = jQuery(this);
    //            if (input.attr("name") == "Quantity") objrow.Quantity = input.val();
    //            if (input.attr("name") == "ProductId") objrow.ProductId = input.val();

    //        });
    //        myjson.push(objrow);

    //    });
        //var dataPost = jQuery('form.woocommerce-cart-form').formSerialize serializeArray();
         var dataPost = JSON.stringify({ 'data': jQuery("form#checkout").serialize(); }  );
        //var dataPost = myjson;
         var r = '@Html.Raw(@Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
        /**/
        jQuery.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: r + "Bill/SaveBill",
            data: dataPost,
            success: function (data) {
                debugger;
                //jQuery("#refTable").html(data);
            },
            failure: function (response) {
                debugger;
            }
        });

    
    }
</script>
