@using ananlips.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_Bill = dict.ContainsKey("data_Bill") ? (DefaultView.FE_Bill)dict["data_Bill"] : new DefaultView.FE_Bill();

}
<div class="content container">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="main-content">
                <div class="woocommerce">
                    @*<div class="woocommerce-message"><a href="https://thefaceshopvn.com/gia-san-pham-the-face-shop-chinh-hang-tphcm/" class="button">Continue Shopping →</a> Sản phẩm đã được thêm vào giỏ hàng thành công.</div>*@
                    <div id="refTable">
                        @Html.Partial("_BillDetailPartial")
                    </div>

                    <div class="cart-collaterals"></div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    function updateBillItem() {

    var myjson = [];
        jQuery("form.woocommerce-cart-form").find("tr.cart_item").each(function () {
            var tablerow = jQuery(this);
            var objrow = {};
            jQuery("td input", tablerow).each(function () {
                var input = jQuery(this);
                if (input.attr("name") == "Quantity") objrow.Quantity = input.val();
                if (input.attr("name") == "ProductId") objrow.ProductId = input.val();

            });
            myjson.push(objrow);

        });
        //var dataPost = jQuery('form.woocommerce-cart-form').formSerialize serializeArray();
        var dataPost = JSON.stringify({ 'lstItem': myjson }  );
        //var dataPost = myjson;
         var r = '@Html.Raw(@Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
        /**/
        jQuery.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: r + "Bill/UpdateBillItem",
            data: dataPost,
            success: function (data) {
                jQuery("#refTable").html(data);
            },
            failure: function (response) {
                debugger;
            }
        });

    //    jQuery.post(r + "Bill/UpdateBill", dataPost, function (data) {
    //    /**/
    //        debugger;

    //});
    }
    function removeBillItem(obj) {
        var dataPost = JSON.stringify({ 'Item': { ProductId: $(obj).data('product_id')} }  );
        //var dataPost = myjson;
         var r = '@Html.Raw(@Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
        /**/
        jQuery.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'Post',
            url: r + "Bill/RemoveBillItem",
            data: dataPost
            ,error: function () {
                alert("An error occurred.");
            }
            , success: function (data) {
                jQuery("#refTable").html(data);
                //jQuery("#refTable").html(partialViewResult);
            },
            //failure: function (response) {
            //    debugger;
            //}
        });
    }
</script>
