<head>
    <title>NoAccess</title>
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/font-awesome.min.css")">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/smartadmin-production.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/smartadmin-skins.min.css")">
</head>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <h1 class="error-text-2 bounceInDown animated"> Truy cập bị từ chối <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                    <br />
                    <p class="lead">
                        Bạn không có quyền truy cập vào trang này. Vui lòng liên hệ với bộ phận hỗ trợ để biết thêm chi tiết
                    </p>
                    <a class="btn btn-primary" href="@Url.Content("~/admin/account/logoff")" title="Sign Out" data-action="userLogout" data-logout-msg=""><i class="fa fa-sign-out"></i>Đăng xuất</a> 
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>