<html lang="vi" prefix="og: https://ogp.me/ns#" class="js js no-touch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://thefaceshopvn.com/wp-content/uploads/2017/04/favicon.png">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://thefaceshopvn.com/xmlrpc.php">
    <!--[if lt IE 9]> <script src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/html5.js"></script> <![endif]-->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script id="facebook-jssdk" src="//connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v2.5&amp;appId=201165220386921"></script>
    <script>(function(html){html.className=html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
    <title>Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING - THEFACESHOP Việt Nam</title>
    <style id="kt-theme-color" type="text/css">
        html
        body {
            background-color: #fff
        }

        body .header.style11 .block-mini-cart::after {
            border-bottom-color: #fff
        }

        body a:hover,
        body a:focus,
        body a:active,
        body.woocommerce .summary .yith-wcwl-add-to-wishlist .show a:hover,
        body.woocommerce .summary .compare:hover,
        body.woocommerce .woocommerce-breadcrumb a:hover,
        body .blog-list .blog-list-wapper ul li .readmore a,
        body .count-down-time2 .box-count,
        body .trending .trending-product li .product-price,
        body .hot-deals-box .hot-deals-tab .hot-deals-tab-box .nav-tab li.active > a,
        body .lasttest-blog11 .item-blog .readmore,
        body .footer4.style2 .social-link .fa:hover,
        .option11.hot-cat-section11 .hot-cat-9 .cat-item:hover,
        .option11.hot-cat-section11 .hot-cat-9 .cat-item:hover .cat-title a,
        .footer4 .social-link a:hover .fa,
        .header.style14 .navigation-main-menu > li:hover > a,
        .header.style14 .navigation-main-menu > li.active > a,
        .footer5 .social-link a:hover .fa,
        .footer5 .address-list .tit-name,
        .footer5 a:hover,
        .option-14 .block-deal .title,
        .option12.section-blog-12 .blog12 .blog-title a:hover,
        body .block-deal .title,
        .service4 .service-title a:hover,
        .footer5 .footer-coppyright {
            color: #9dbf17
        }

            body .main-header .header-search-box .form-inline .btn-search,
            body .main-header .shopping-cart-box a.cart-link:after,
            body .cart-block .cart-block-content .cart-buttons a.btn-check-out,
            body .main-bg,
            body .box-vertical-megamenus .vertical-menu-list > li:hover,
            body .megamenu .widget .widgettitle:before,
            body .megamenu .widget .widgettitle:before,
            body .owl-controls .owl-prev:hover,
            body .owl-controls .owl-next:hover,
            body .product-list li .quick-view a:hover,
            body .product-list li .quick-view a:hover,
            body .scroll_top:hover,
            body .cate-box .cate-link:hover,
            body #footer2.footer3 .mailchimp-wrapper .mailchimp-form .mailchimp-submit,
            body.woocommerce div.product form.cart .button,
            body.woocommerce .summary .yith-wcwl-add-to-wishlist .show a:hover:before,
            body.woocommerce .summary .compare:hover:before,
            body.woocommerce #respond input#submit:hover,
            body.woocommerce a.button:hover,
            body.woocommerce button.button:hover,
            body.woocommerce input.button:hover,
            body .display-product-option li.selected span,
            body .display-product-option li:hover span,
            body .nav-links a:hover,
            body .nav-links .current,
            body .product-list.list .add-to-cart,
            body.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
            body .owl-controls .owl-dots .owl-dot.active,
            body .products-block .link-all,
            body .widget_kt_on_sale .product-list li .add-to-cart,
            body .woocommerce #respond input#submit.alt,
            body .woocommerce a.button.alt,
            body .woocommerce button.button.alt,
            body .woocommerce input.button.alt,
            body .woocommerce #respond input#submit:hover,
            body .woocommerce a.button:hover,
            body .woocommerce button.button:hover,
            body .woocommerce input.button:hover,
            body .woocommerce #respond input#submit.alt:hover,
            body .woocommerce a.button.alt:hover,
            body .woocommerce button.button.alt:hover,
            body .woocommerce input.button.alt:hover,
            body .ui-selectmenu-menu .ui-state-hover,
            body .ui-selectmenu-menu .ui-widget-content .ui-selectmenu-menu .ui-state-hover,
            body .ui-selectmenu-menu .ui-widget-header,
            body .ui-selectmenu-menu .ui-state-hover,
            body .ui-selectmenu-menu .ui-state-focus,
            body .ui-selectmenu-menu .ui-widget-content .ui-state-focus,
            body .ui-selectmenu-menu .ui-widget-header .ui-state-focus,
            body .trending .trending-title,
            body .hot-deals-box .hot-deals-tab .hot-deals-title,
            body .block-popular-cat .more,
            body .block-popular-cat .sub-categories > ul > li > a:before,
            body .hot-deals-box .hot-deals-tab .box-count-down .box-count:before,
            body .products .group-tool-button a:hover,
            body .products .group-tool-button a.compare:hover,
            body .option7 .products .group-tool-button a:hover,
            body .option7 .products .group-tool-button a.compare:hover,
            body .option7 .products .search:hover,
            body .woocommerce div.product form.cart .button,
            body .banner-text .banner-button:hover,
            body .products-style8 .add-to-cart:hover,
            body .products-style8 .product.compare-button .compare:hover,
            body .products-style8 .yith-wcwl-add-to-wishlist > div:hover,
            body .lock-boock-button a:hover,
            body .block-collections .collection-list .info .collection-button a:hover,
            body .block-blogs .blog-list-wapper .owl-controls .owl-prev:hover,
            body .block-blogs .blog-list-wapper .owl-controls .owl-next:hover,
            body .block-mini-cart,
            body .footer4 .mailchimp-form .mailchimp-submit,
            body .section-band-logo.style2 .owl-controls .owl-prev:hover,
            body .section-band-logo.style2 .owl-controls .owl-next:hover,
            body .option12.section-blog-12 .owl-controls .owl-prev:hover,
            body .option12.section-blog-12 .owl-controls .owl-next:hover,
            .block-new-product12 .owl-controls .owl-prev:hover,
            .block-new-product12 .owl-controls .owl-next:hover,
            .option12.block-hotdeal-week .owl-controls .owl-prev:hover,
            .option12.block-hotdeal-week .owl-controls .owl-next:hover,
            .option12.block-hotdeal-week .add-to-cart,
            .option12.block-hotdeal-week .add-to-cart:hover,
            .option12.block-hotdeal-week .yith-wcwl-add-to-wishlist:hover,
            .option12.block-hotdeal-week .compare-button:hover,
            .option12.section-blog-12 .blog12 .date,
            .header.style11 .block-mini-cart .cart-link .icon .count,
            html body .footer4.style2 .mailchimp-form .mailchimp-submit:hover,
            body .block-mini-cart-9 .cart-link .count,
            .header.style13 .header-search-inner form .btn-search,
            .main-menu-style13 .navigation-main-menu > li > a:before,
            body .mobile-navigation,
            .header.style14 .navigation-main-menu > li > a:before,
            .block-minicart14 .cart-link .count,
            .footer5 .widget_kt_mailchimp .mailchimp-submit,
            .footer5 .tagcloud a:hover,
            .block-testimonials3 .owl-controls .owl-dots .owl-dot.active,
            .product-style4 .yith-wcwl-add-to-wishlist .yith-wcwl-add-button:hover,
            .product-style4 .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse:hover,
            .product-style4 .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse:hover,
            .product-style4 .compare-button:hover,
            .product-style4 .yith-wcqv-button:hover,
            .product-style4 .product-new,
            .product-style4 .add_to_cart_button:hover,
            .product-style4 .added_to_cart:hover,
            .option-13.tab-product-13 .nav-tab li a:after,
            .option-13 .product-style3 .yith-wcwl-add-button:hover,
            .option-13 .product-style3 .compare-button:hover,
            .option-13 .product-style3 .search:hover,
            .option-13 .owl-controls .owl-prev:hover,
            .option-13 .owl-controls .owl-next:hover,
            .option-13.block-top-brands .head .title,
            .option-13 .product-style3 .add-to-cart:hover a,
            .option-13.block-top-brands .bx-wrapper .bx-controls-direction a:hover,
            .block-testimonials3 .owl-controls .owl-dots .owl-dot.active,
            .option-14.block-static ul.list li .group-button-control .yith-wcwl-add-to-wishlist:hover,
            .option-14.block-static ul.list li .group-button-control .compare-button a:hover,
            .option-14.block-static ul.list li .group-button-control .search.yith-wcqv-button:hover,
            .option-14.block-static ul.list .group-button-control .add-to-cart a,
            .option-14.block-static .owl-controls .owl-prev:hover,
            .option-14.block-static .owl-controls .owl-next:hover,
            .option-14 .block-deal .group-button-control .add-to-cart a,
            .option-14 .block-deal .yith-wcwl-add-to-wishlist:hover,
            body .block-deal .add-to-cart a,
            .product-style4 .add_to_cart_button:hover, .product-style4 .added_to_cart:hover,
            .option-14.block-top-brands2 .brand-products .owl-controls .owl-prev:hover,
            .option-14.block-top-brands2 .brand-products .owl-controls .owl-next:hover,
            .option-14.block-top-brands2 .list-brands .owl-controls .owl-prev:hover,
            .option-14.block-top-brands2 .list-brands .owl-controls .owl-next:hover,
            .block-tab-category14 .box-tabs li a::after,
            body .widget_product_tag_cloud .tagcloud a:hover,
            .block-deal .yith-wcwl-add-to-wishlist .yith-wcwl-add-button:hover,
            .block-deal .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover,
            .block-deal .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover {
                background-color: #9dbf17
            }

        body .box-vertical-megamenus .vertical-menu-content,
        body .popular-tabs .nav-tab li:hover,
        body .popular-tabs .nav-tab li.active,
        body .latest-deals .latest-deal-content,
        body .brand-showcase .brand-showcase-title,
        body .group-title span,
        body #footer2.footer3,
        body .view-product-list .page-title span,
        body .page-heading span.page-heading-title,
        body .count-down-time2 .box-count,
        body .option3 .main-header .header-search-box .form-inline,
        body .banner-text .banner-button:hover,
        body .products-style8 .add-to-cart:hover,
        body .products-style8 .product.compare-button .compare:hover,
        body .products-style8 .yith-wcwl-add-to-wishlist > div:hover,
        body .lock-boock-button a:hover,
        body .block-collections .collection-list .info .collection-button a:hover,
        body .block-loock-bocks .owl-controls .owl-next:hover,
        body .block-loock-bocks .owl-controls .owl-prev:hover,
        body .block-testimonials .owl-controls .owl-prev:hover,
        body .block-testimonials .owl-controls .owl-next:hover,
        body .block-blogs .blog-list-wapper .owl-controls .owl-prev:hover,
        body .block-blogs .blog-list-wapper .owl-controls .owl-next:hover,
        body .block-manufacturer-logo .owl-controls .owl-prev:hover,
        body .block-manufacturer-logo .owl-controls .owl-next:hover,
        body .section-band-logo.style2 .owl-controls .owl-prev:hover,
        body .section-band-logo.style2 .owl-controls .owl-next:hover,
        body .option12.section-blog-12 .owl-controls .owl-prev:hover,
        body .option12.section-blog-12 .owl-controls .owl-next:hover,
        .block-new-product12 .owl-controls .owl-prev:hover,
        .block-new-product12 .owl-controls .owl-next:hover,
        .option12.block-hotdeal-week .owl-controls .owl-prev:hover,
        .option12.block-hotdeal-week .owl-controls .owl-next:hover,
        body .vertical-menu-list .mega-group-header span,
        body .footer4.style2 .social-link .fa:hover,
        .header.style13 .header-search-inner form,
        .footer4 .social-link a:hover .fa,
        .footer5 .social-link a:hover .fa,
        .footer5 .tagcloud a:hover,
        .option-13 .owl-controls .owl-prev:hover,
        .option-13 .owl-controls .owl-next:hover,
        .option-13.block-top-brands .list-brand .item:hover,
        .option-13.block-top-brands .list-brand .item.active,
        .option-13.block-top-brands .bx-wrapper .bx-controls-direction a:hover,
        body .block-testimonials3 .owl-controls .owl-dots .owl-dot,
        .block-testimonials3 .owl-controls .owl-dots .owl-dot.active,
        .product-style4:hover,
        .product-style4 .yith-wcwl-add-to-wishlist .yith-wcwl-add-button:hover,
        .product-style4 .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse:hover,
        .product-style4 .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse:hover,
        .product-style4 .compare-button:hover,
        .product-style4 .yith-wcqv-button:hover,
        .option-14.block-static ul.list li .group-button-control .yith-wcwl-add-to-wishlist:hover,
        .option-14.block-static ul.list li .group-button-control .compare-button a:hover,
        .option-14.block-static ul.list li .group-button-control .search.yith-wcqv-button:hover,
        .option-14.block-static ul.list .group-button-control .add-to-cart a,
        .option-14.block-static .block-static-products ul.list li:hover .product-thumb,
        .option-14 .block-deal .yith-wcwl-add-to-wishlist:hover,
        .option-14.block-static .owl-controls .owl-prev:hover,
        .option-14.block-top-brands2 .brand-products .owl-controls .owl-prev:hover,
        .option-14.block-top-brands2 .brand-products .owl-controls .owl-next:hover,
        .option-14.block-top-brands2 .list-brands .owl-controls .owl-prev:hover,
        .option-14.block-top-brands2 .list-brands .owl-controls .owl-next:hover,
        .option-14.block-static .owl-controls .owl-prev:hover,
        .option-14.block-static .owl-controls .owl-next:hover,
        .option-14.block-top-brands2 .list-brands a.active img,
        .option-14.block-top-brands2 .list-brands a:hover img,
        body .widget_product_tag_cloud .tagcloud a:hover,
        .block-deal .yith-wcwl-add-to-wishlist .yith-wcwl-add-button:hover,
        .block-deal .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover,
        .block-deal .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover {
            border-color: #9dbf17
        }

        body .product-list li .add-to-cart:hover,
        body .products-style8 .product-thumb .yith-wcqv-button,
        body .lasttest-blog11 .item-blog
        .cat {
            background-color: rgba( 157, 191, 23, 0.5)
        }

        body .option11.featured-banner .box-small-banner .banner:before {
            background-color: rgba( 157, 191, 23, 0.8)
        }

        .product-style4 .add_to_cart_button, .product-style4
        .added_to_cart {
            background-color: rgba( 157, 191, 23, 0.7)
        }

        body .product-list li .content_price,
        body.woocommerce div.product p.price,
        body.woocommerce div.product span.price,
        body .cart-block .cart-block-content .product-info .p-right .p-rice,
        .woocommerce div.product p.price,
        .woocommerce div.product span.price,
        body .vertical-menu-list .mega-product .price,
        .option12.tab-7.block-tab-category .product-style3 .price,
        .option12.block-hotdeal-week .price,
        .block-new-product12 .price,
        .option-13 .product-style3 .content_price .price,
        .option-14 .block-deal .price,
        .block-deal .price,
        .product-style4 .price,
        .option-14.block-static .price,
        .woocommerce div.product form.cart .group_table
        .price {
            color: #f36
        }

        body .box-vertical-megamenus .vertical-menu-content {
            background-color: #fff
        }

        body .box-vertical-megamenus .all-category span:hover {
            border-color: #9dbf17;
            color: #fff
        }

        body .box-vertical-megamenus .vertical-menu-list > li:hover,
        body .box-vertical-megamenus .all-category span:hover {
            background-color: #9dbf17
        }

        body .box-vertical-megamenus .vertical-menu-list > li > a {
            color: #666
        }

        body .box-vertical-megamenus .vertical-menu-list > li:hover > a,
        body .box-vertical-megamenus .vertical-menu-list > li:hover > a:before {
            color: #fff
        }

        .header.option3 .top-header {
            background-color: #f6f6f6;
            color: #666
        }

        .header.option3 .top-bar-menu > li > a {
            color: #666
        }

            .header.option3 .top-bar-menu > li > a:hover {
                color: #9dbf17
            }

        .header.option3 .box-vertical-megamenus
        .title {
            background-color: #9dbf17;
            color: #fff
        }

        .header.option3 .nav-ontop {
            background-color: #9dbf17
        }

        .header.option3 .nav-top-menu.nav-ontop .top-main-menu.style3 .navigation-main-menu > li > a {
            color: #fff
        }
    </style>
    <link rel="canonical" href="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING - THEFACESHOP Việt Nam">
    <meta property="og:description" content="Công dụng Sống trong môi trường ô nhiễm, nhiều khói bụi làm da bạn thêm lão hóa nhanh, thiếu sức sống, và khả năng hấp thụ chất dinh dưỡng kém đi rất nhiều do các tế bào chết, bã nhờn tích tụ và các độc tố trên bề mặt da. Sở hữu một làn da">
    <meta property="og:url" content="https://thefaceshopvn.com/san-pham/tay-te-bao-chet-trang-sang-da-white-jewel-peeling/">
    <meta property="og:site_name" content="THEFACESHOP Việt Nam">
    <meta property="og:image" content="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="601">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Công dụng Sống trong môi trường ô nhiễm, nhiều khói bụi làm da bạn thêm lão hóa nhanh, thiếu sức sống, và khả năng hấp thụ chất dinh dưỡng kém đi rất nhiều do các tế bào chết, bã nhờn tích tụ và các độc tố trên bề mặt da. Sở hữu một làn da">
    <meta name="twitter:title" content="Tẩy tế bào chết Trắng Sáng Da WHITE JEWEL PEELING - THEFACESHOP Việt Nam">
    <meta name="twitter:image" content="https://thefaceshopvn.com/wp-content/uploads/2017/04/untitled_master.png">
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin THEFACESHOP Việt Nam »" href="https://thefaceshopvn.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi THEFACESHOP Việt Nam »" href="https://thefaceshopvn.com/comments/feed/">
    <script type="text/javascript">var ajaxurl="https:\/\/thefaceshopvn.com\/wp-admin\/admin-ajax.php";var labels=['Years','Months','Weeks','Days','Hrs','Mins','Secs'];var layout='<span class="box-count day"><span class="number">{dnn}</span> <span class="text">Days</span></span><span class="dot">:</span><span class="box-count hrs"><span class="number">{hnn}</span> <span class="text">Hrs</span></span><span class="dot">:</span><span class="box-count min"><span class="number">{mnn}</span> <span class="text">Mins</span></span><span class="dot">:</span><span class="box-count secs"><span class="number">{snn}</span> <span class="text">Secs</span></span>';var $html_close='Close';</script>
    <script type="text/javascript">window._wpemojiSettings={"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/thefaceshopvn.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.15"}};!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);</script>
    <script src="https://thefaceshopvn.com/wp-includes/js/wp-emoji-release.min.js?ver=4.4.15" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important
        }
    </style>
    <link rel="stylesheet" id="dashicons-css" href="https://thefaceshopvn.com/wp-includes/css/dashicons.min.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="wp-jquery-ui-dialog-css" href="https://thefaceshopvn.com/wp-includes/css/jquery-ui-dialog.min.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="fontawsome-css-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=3.2.6" type="text/css" media="all">
    <link rel="stylesheet" id="apsl-frontend-css-css" href="https://thefaceshopvn.com/wp-content/plugins/accesspress-social-login-lite/css/frontend.css?ver=3.2.6" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="https://thefaceshopvn.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.3" type="text/css" media="all">
    <link rel="stylesheet" id="rs-plugin-settings-css" href="https://thefaceshopvn.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.1.5" type="text/css" media="all">
    <style id="rs-plugin-settings-inline-css" type="text/css">
        #rs-demo-id {
        }
    </style>
    <link rel="stylesheet" id="woocommerce-layout-css" href="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.0.1" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=3.0.1" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css" href="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=3.0.1" type="text/css" media="all">
    <link rel="stylesheet" id="wp-pagenavi-css" href="https://thefaceshopvn.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-colorbox-css" href="https://thefaceshopvn.com/wp-content/plugins/yith-woocommerce-compare/assets/css/colorbox.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="yith-quick-view-css" href="https://thefaceshopvn.com/wp-content/plugins/yith-woocommerce-quick-view/assets/css/yith-quick-view.css?ver=4.4.15" type="text/css" media="all">
    <style id="yith-quick-view-inline-css" type="text/css">
        #yith-quick-view-modal .yith-wcqv-main {
            background: #fff
        }

        #yith-quick-view-close {
            color: #cdcdcd
        }

            #yith-quick-view-close:hover {
                color: #f00
            }
    </style>
    <link rel="stylesheet" id="kt-Oswald-font-css" href="https://fonts.googleapis.com/css?family=Oswald%3A400%2C300%2C700&amp;ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="kt-Montserrat-font-css" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&amp;ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="kt-bootstrap-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/bootstrap/css/bootstrap.min.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-reset-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/reset.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="kt-responsive-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/responsive.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="kt-animate-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/animate.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="kt-font-awesome-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/font-awesome/css/font-awesome.min.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-jquery-ui-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/jquery-ui/jquery-ui.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-style-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/style.css?ver=1.0" type="text/css" media="all">
    <!--[if lt IE 9]><link
    rel='stylesheet' id='kt-ie-css'  href='https://thefaceshopvn.com/wp-content/themes/kutetheme/css/ie.css?ver=1.0' type='text/css' media='all' />
    <![endif]-->
    <link rel="stylesheet" id="kt-carousel-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/owl.carousel/owl.carousel.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-fancyBox-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/fancyBox/jquery.fancybox.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-jquery.bxslider-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/jquery.bxslider/jquery.bxslider.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kutetheme-style-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/style.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-custom-woocommerce-style-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/woocommerce.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-custom-vc-style-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/vc.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-responsive-style-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/responsive.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-option-2-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/option2.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-option-3-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/option3.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-option-4-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/option4.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-option-5-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/option5.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-option-6-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/option6.css?ver=4.4.15" type="text/css" media="all">
    <link rel="stylesheet" id="kt-option-7-css" href="https://thefaceshopvn.com/wp-content/themes/kutetheme/css/option7.css?ver=4.4.15" type="text/css" media="all">
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/jquery.js?ver=1.11.3"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/accesspress-social-login-lite/js/frontend.js?ver=3.2.6"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.1.5"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.1.5"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/wonderplugin-carousel/engine/wonderplugincarouselskins.js?ver=5.2"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/wonderplugin-carousel/engine/wonderplugincarousel.js?ver=5.2"></script>
    <script type="text/javascript">var wc_add_to_cart_params={"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/thefaceshopvn.com\/cart\/","is_cart":"","cart_redirect_after_add":"yes"};</script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.0.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=4.9.1"></script>
    <link rel="https://api.w.org/" href="https://thefaceshopvn.com/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://thefaceshopvn.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://thefaceshopvn.com/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.4.15">
    <meta name="generator" content="WooCommerce 3.0.1">
    <link rel="shortlink" href="https://thefaceshopvn.com/?p=2439">
    <link rel="alternate" type="application/json+oembed" href="https://thefaceshopvn.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fthefaceshopvn.com%2Fsan-pham%2Ftay-te-bao-chet-trang-sang-da-white-jewel-peeling%2F">
    <link rel="alternate" type="text/xml+oembed" href="https://thefaceshopvn.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fthefaceshopvn.com%2Fsan-pham%2Ftay-te-bao-chet-trang-sang-da-white-jewel-peeling%2F&amp;format=xml">
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress.">
    <!--[if lte IE 9]><link
    rel="stylesheet" type="text/css" href="https://thefaceshopvn.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <!--[if IE  8]><link
    rel="stylesheet" type="text/css" href="https://thefaceshopvn.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.1.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
    <noscript>
    <style type="text/css">
        .wpb_animate_when_almost_visible {
            opacity: 1
        }
    </style></noscript>
    <script type="text/javascript">jQuery(document).ready(function(){});</script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    @*<style type="text/css">
.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:-webkit-sticky;top:0}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_customer_chat_bounce_in_v1{animation-duration:250ms;animation-name:fb_bounce_in_v1}.fb_customer_chat_bounce_out_v1{animation-duration:250ms;animation-name:fb_bounce_out_v1}.fb_customer_chat_bounce_in_v2{animation-duration:300ms;animation-name:fb_bounce_in_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_v2{animation-duration:300ms;animation-name:fb_bounce_out_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_v2_mobile_chat_started{animation-duration:300ms;animation-name:fb_bounce_in_v2_mobile_chat_started;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_v2_mobile_chat_started{animation-duration:300ms;animation-name:fb_bounce_out_v2_mobile_chat_started;transition-timing-function:ease-in}.fb_customer_chat_bubble_pop_in{animation-duration:250ms;animation-name:fb_customer_chat_bubble_bounce_in_animation}.fb_customer_chat_bubble_animated_no_badge{box-shadow:0 3px 12px rgba(0, 0, 0, .15);transition:box-shadow 150ms linear}.fb_customer_chat_bubble_animated_no_badge:hover{box-shadow:0 5px 24px rgba(0, 0, 0, .3)}.fb_customer_chat_bubble_animated_with_badge{box-shadow:-5px 4px 14px rgba(0, 0, 0, .15);transition:box-shadow 150ms linear}.fb_customer_chat_bubble_animated_with_badge:hover{box-shadow:-5px 8px 24px rgba(0, 0, 0, .2)}.fb_invisible_flow{display:inherit;height:0;overflow-x:hidden;width:0}.fb_mobile_overlay_active{background-color:#fff;height:100%;overflow:hidden;position:fixed;visibility:hidden;width:100%}@keyframes fb_bounce_in_v1{0%{opacity:0;transform:scale(.8, .8);transform-origin:bottom right}80%{opacity:.8;transform:scale(1.03, 1.03)}100%{opacity:1;transform:scale(1, 1)}}@keyframes fb_bounce_in_v2{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}50%{transform:scale(1.03, 1.03);transform-origin:bottom right}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}}@keyframes fb_bounce_in_v2_mobile_chat_started{0%{opacity:0;top:20px}100%{opacity:1;top:0}}@keyframes fb_bounce_out_v1{from{opacity:1}to{opacity:0}}@keyframes fb_bounce_out_v2{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}}@keyframes fb_bounce_out_v2_mobile_chat_started{0%{opacity:1;top:0}100%{opacity:0;top:20px}}@keyframes fb_customer_chat_bubble_bounce_in_animation{0%{bottom:6pt;opacity:0;transform:scale(0, 0);transform-origin:center}70%{bottom:18pt;opacity:1;transform:scale(1.2, 1.2)}100%{transform:scale(1, 1)}}
    </style>*@
</head>
<body class="single single-product postid-2439 woocommerce woocommerce-page yith-wcan-free wpb-js-composer js-comp-ver-4.9.1 vc_responsive">
    <div class="site">
        <div class="site-content">
            <div id="header" class="header option3">
                <div class="top-header"><div class="container"><p class="hotline_headerD"><span>HOTLINE: 0901 974 445</span></p></div></div><div class="container main-header">
                    <div class="row top-main-header"><div class="col-sm-12 col-md-12 col-lg-3"></div><div class="col-sm-7 col-md-6"></div></div><div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 logo">
                            <a href="@Url.Action("Index","Home")"><img alt="THEFACESHOP Việt Nam" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/logo-1.png" class="_rw"></a>
                        </div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header-search-box">
                            <form class="form-inline woo-search" method="get" action="https://thefaceshopvn.com/">
                                <div class="form-group form-category">
                                    <select name="cat" id="cat" class="select-category" tabindex="1" style="display: none;">
                                        <option value="-1">All Categories</option>
                                        <option class="level-0" value="159">Chăm sóc cơ thể</option>
                                        <option class="level-1" value="202">&nbsp;&nbsp;&nbsp;Dưỡng tay/ Dưỡng chân</option>
                                        <option class="level-1" value="200">&nbsp;&nbsp;&nbsp;Sữa/ Gel tắm</option>
                                        <option class="level-1" value="201">&nbsp;&nbsp;&nbsp;Sữa/ Kem/ Gel dưỡng thể</option>
                                        <option class="level-1" value="203">&nbsp;&nbsp;&nbsp;Tẩy tế bào chết cơ thể</option>
                                        <option class="level-0" value="161">Bộ sản phẩm dưỡng da</option>
                                        <option class="level-1" value="220">&nbsp;&nbsp;&nbsp;Collagen</option>
                                        <option class="level-1" value="225">&nbsp;&nbsp;&nbsp;Dòng dưỡng gạo</option>
                                        <option class="level-1" value="223">&nbsp;&nbsp;&nbsp;Dr. Belmeur</option>
                                        <option class="level-1" value="229">&nbsp;&nbsp;&nbsp;Herb Day</option>
                                        <option class="level-1" value="224">&nbsp;&nbsp;&nbsp;The Therapy</option>
                                        <option class="level-1" value="209">&nbsp;&nbsp;&nbsp;White Seed</option>
                                        <option class="level-1" value="211">&nbsp;&nbsp;&nbsp;Chia Seed</option>
                                        <option class="level-1" value="212">&nbsp;&nbsp;&nbsp;Clean Face</option>
                                        <option class="level-1" value="213">&nbsp;&nbsp;&nbsp;Perfume Seed</option>
                                        <option class="level-0" value="155">Dưỡng da</option>
                                        <option class="level-1" value="167">&nbsp;&nbsp;&nbsp;Kem chống nắng</option>
                                        <option class="level-1" value="165">&nbsp;&nbsp;&nbsp;Kem dưỡng</option>
                                        <option class="level-1" value="166">&nbsp;&nbsp;&nbsp;Kem mắt</option>
                                        <option class="level-1" value="169">&nbsp;&nbsp;&nbsp;Kem mát-xa</option>
                                        <option class="level-1" value="162">&nbsp;&nbsp;&nbsp;Nước cân bằng</option>
                                        <option class="level-1" value="164">&nbsp;&nbsp;&nbsp;Sữa dưỡng</option>
                                        <option class="level-1" value="163">&nbsp;&nbsp;&nbsp;Tinh chất</option>
                                        <option class="level-1" value="168">&nbsp;&nbsp;&nbsp;Xịt khoáng</option>
                                        <option class="level-0" value="156">Làm sạch</option>
                                        <option class="level-1" value="170">&nbsp;&nbsp;&nbsp;Sữa rửa mặt</option>
                                        <option class="level-1" value="175">&nbsp;&nbsp;&nbsp;Tẩy tế bào chết</option>
                                        <option class="level-1" value="171">&nbsp;&nbsp;&nbsp;Sản phẩm tẩy trang</option>
                                        <option class="level-0" value="158">Mặt nạ</option>
                                        <option class="level-1" value="218">&nbsp;&nbsp;&nbsp;Mặt nạ giấy</option>
                                        <option class="level-1" value="219">&nbsp;&nbsp;&nbsp;Mặt nạ lột/rửa/gel</option>
                                        <option class="level-0" value="181">Sản phẩm bán chạy</option>
                                        <option class="level-0" value="217">Sản phẩm khác</option>
                                        <option class="level-1" value="216">&nbsp;&nbsp;&nbsp;Phụ kiện</option>
                                        <option class="level-0" value="182">Sản phẩm khuyến mãi</option>
                                        <option class="level-0" value="179">Sản phẩm mới</option>
                                        <option class="level-0" value="180">Sản phẩm nổi bật</option>
                                        <option class="level-0" value="188">Trang điểm điểm</option>
                                        <option class="level-1" value="193">&nbsp;&nbsp;&nbsp;Mascara</option>
                                        <option class="level-1" value="189">&nbsp;&nbsp;&nbsp;Son môi</option>
                                        <option class="level-1" value="192">&nbsp;&nbsp;&nbsp;Viền mắt/ Chì mày</option>
                                        <option class="level-0" value="157">Trang điểm nền</option>
                                        <option class="level-1" value="177">&nbsp;&nbsp;&nbsp;Kem lót</option>
                                        <option class="level-1" value="183">&nbsp;&nbsp;&nbsp;Kem nền che khuyết điểm</option>
                                        <option class="level-1" value="184">&nbsp;&nbsp;&nbsp;Kem nền đa năng BB Cream</option>
                                        <option class="level-1" value="185">&nbsp;&nbsp;&nbsp;Phấn nước/CC Cream</option>
                                        <option class="level-1" value="186">&nbsp;&nbsp;&nbsp;Phấn phủ bột/ Phấn nén</option>
                                        <option class="level-1" value="187">&nbsp;&nbsp;&nbsp;Thanh che khuyết điểm/ Má hồng</option>
                                    </select><span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="cat-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="cat-menu" aria-haspopup="true" style="width: 100px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">All Categories</span></span>
                                </div><div class="form-group input-serach">
                                    <input type="hidden" name="post_type" value="product">
                                    <input value="" type="text" name="s" placeholder="Tìm kiếm...">
                                    <i class="hide close-form fa fa-times"></i>
                                </div>
                                <button type="submit" class="pull-right btn-search">TÌM KIẾM</button>
                            </form>
                        </div><div class="widget_shopping_cart_content">
                            <div class="widget_shopping_cart_content">
                                <div class="col-sm-6 col-md-6 col-lg-3 group-button-header">
                                    <div class="btn-cart" id="cart-block">
                                        <a title="Giỏ hàng" href="https://thefaceshopvn.com/cart/"></a>
                                        <span class="text-show">Giỏ hàng</span>
                                        <span class="notify notify-right">1</span>

                                        <div class="cart-block">
                                            <div class="cart-block-content">
                                                <h5 class="cart-title">Có 1 sản phẩm trong giỏ hàng</h5>
                                                <div class="cart-block-list">
                                                    <ul>
                                                        <li class="mini_cart_item product-info">
                                                            <div class="p-left">
                                                                <a href="https://thefaceshopvn.com/cart/?remove_item=0a49e3c3a03ebde64f85c0bacd8a08e2&amp;_wpnonce=ae0e880a15" class="remove remove_link" title="Xóa sản phẩm" data-product_id="3813" data-product_sku=""></a>
                                                                <a href="https://thefaceshopvn.com/san-pham/10-mat-na-giay-tra-xanh-real-nature-green-tea-face-mask-set-10pcs/">
                                                                    <img width="100" height="122" src="//thefaceshopvn.com/wp-content/uploads/2018/04/real-nature-green-tea-mask-sheet.2017_8bc6d72165e24827a76e7133373196ea_master-100x122.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="real-nature-green-tea-mask-sheet.2017_8bc6d72165e24827a76e7133373196ea_master" srcset="//thefaceshopvn.com/wp-content/uploads/2018/04/real-nature-green-tea-mask-sheet.2017_8bc6d72165e24827a76e7133373196ea_master-100x122.jpg 100w, //thefaceshopvn.com/wp-content/uploads/2018/04/real-nature-green-tea-mask-sheet.2017_8bc6d72165e24827a76e7133373196ea_master-300x366.jpg 300w, //thefaceshopvn.com/wp-content/uploads/2018/04/real-nature-green-tea-mask-sheet.2017_8bc6d72165e24827a76e7133373196ea_master-420x512.jpg 420w, //thefaceshopvn.com/wp-content/uploads/2018/04/real-nature-green-tea-mask-sheet.2017_8bc6d72165e24827a76e7133373196ea_master-270x329.jpg 270w" sizes="(max-width: 100px) 100vw, 100px">
                                                                </a>
                                                            </div>
                                                            <div class="p-right">
                                                                <p class="p-name">10 Mặt Nạ Giấy Trà Xanh REAL NATURE GREEN TEA FACE MASK (SET 10PCS)</p>
                                                                <p class="p-rice"><span class="woocommerce-Price-amount amount">199,000<span class="woocommerce-Price-currencySymbol">₫</span></span></p>
                                                                <p class="quantity">SL: 1</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="toal-cart">
                                                    <span>Tổng cộng</span>
                                                    <span class="toal-price pull-right">
                                                        <span class="woocommerce-Price-amount amount">199,000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                    </span>
                                                </div>
                                                <div class="cart-buttons">
                                                    <a href="https://thefaceshopvn.com/cart/" class="btn-check-out">Thanh toán</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-cart hidden-xs" id="login-block">
                                        <a title="Đăng nhập" href="https://thefaceshopvn.com/my-account/" class="btn-heart2"></a>
                                        <span class="text-show">Tài khoản</span>

                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="nav-top-menu" class="nav-top-menu">
                    <div class="container">
                        <div class="top-main-menu style3">
                            <div id="box-vertical-megamenus" class="vertical-wapper"><div data-items="10" class="box-vertical-megamenus "><h4 class="title"><span class="title-menu">Danh mục sản phẩm</span><span class="btn-open-mobile home-page"><i class="fa fa-bars"></i></span></h4><div class="vertical-menu-content" style=""><ul id="menu-danh-muc-san-pham" class="navigation  vertical-menu-list"><li id="menu-item-2126" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-product-ancestor current-menu-parent current-product-parent menu-item-2126"><a title="<img src=&quot;https://thefaceshopvn.com/wp-content/uploads/2017/04/sale-xmas.png&quot; />" href="https://thefaceshopvn.com/danh-muc/san-pham-khuyen-mai/"><img src="https://thefaceshopvn.com/wp-content/uploads/2017/04/sale-xmas.png"></a></li><li id="menu-item-2125" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2125"><a title="Sản phẩm mới <span class=&quot;icon-salenews count_spNew&quot;>0</span>" href="https://thefaceshopvn.com/danh-muc/san-pham-moi/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s2.png" class="attachment-full size-full" alt="s2">Sản phẩm mới <span class="icon-salenews count_spNew">35</span></a></li><li id="menu-item-2103" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2103 menu-item-has-children"><a title="Dưỡng da" href="https://thefaceshopvn.com/danh-muc/duong-da/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s3.png" class="attachment-full size-full" alt="s3">Dưỡng da</a><ul role="menu" class=" sub-menu"><li id="menu-item-2108" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2108"><a title="Nước cân bằng" href="https://thefaceshopvn.com/danh-muc/duong-da/nuoc-can-bang/">Nước cân bằng</a></li><li id="menu-item-2110" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2110"><a title="Tinh chất" href="https://thefaceshopvn.com/danh-muc/duong-da/tinh-chat/">Tinh chất</a></li><li id="menu-item-2109" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2109"><a title="Sữa dưỡng" href="https://thefaceshopvn.com/danh-muc/duong-da/sua-duong/">Sữa dưỡng</a></li><li id="menu-item-2105" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2105"><a title="Kem dưỡng" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-duong/">Kem dưỡng</a></li><li id="menu-item-2106" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2106"><a title="Kem mắt" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-mat/">Kem mắt</a></li><li id="menu-item-2104" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2104"><a title="Kem chống nắng" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-chong-nang/">Kem chống nắng</a></li><li id="menu-item-2111" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2111"><a title="Xịt khoáng" href="https://thefaceshopvn.com/danh-muc/duong-da/xit-khoang/">Xịt khoáng</a></li><li id="menu-item-2107" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2107"><a title="Kem mát-xa" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-mat-xa/">Kem mát-xa</a></li></ul></li><li id="menu-item-2112" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-product-ancestor current-menu-parent current-product-parent menu-item-has-children menu-item-2112 menu-item-has-children"><a title="Làm sạch" href="https://thefaceshopvn.com/danh-muc/lam-sach/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s4.png" class="attachment-full size-full" alt="s4">Làm sạch</a><ul role="menu" class=" sub-menu"><li id="menu-item-2116" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2116"><a title="Sữa rửa mặt" href="https://thefaceshopvn.com/danh-muc/lam-sach/sua-rua-mat/">Sữa rửa mặt</a></li><li id="menu-item-2113" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2113"><a title="Sản phẩm tẩy trang" href="https://thefaceshopvn.com/danh-muc/lam-sach/san-pham-tay-trang/">Sản phẩm tẩy trang</a></li><li id="menu-item-2115" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-product-ancestor current-menu-parent current-product-parent menu-item-2115"><a title="Tẩy tế bào chết" href="https://thefaceshopvn.com/danh-muc/lam-sach/tay-te-bao-chet/">Tẩy tế bào chết</a></li></ul></li><li id="menu-item-2122" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2122 menu-item-has-children"><a title="Trang điểm nền" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s5.png" class="attachment-full size-full" alt="s5">Trang điểm nền</a><ul role="menu" class=" sub-menu"><li id="menu-item-2123" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2123"><a title="Kem lót" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/kem-lot/">Kem lót</a></li><li id="menu-item-2756" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2756"><a title="Phấn nước/CC Cream" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/phan-nuoc-cc-cream/">Phấn nước/CC Cream</a></li><li id="menu-item-2742" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a title="Kem nền che khuyết điểm" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/kem-nen-che-khuyet-diem/">Kem nền che khuyết điểm</a></li><li id="menu-item-2743" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2743"><a title="Kem nền đa năng BB Cream" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/kem-nen-da-nang-bb-cream/">Kem nền đa năng BB Cream</a></li><li id="menu-item-2757" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2757"><a title="Phấn phủ bột/ Phấn nén" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/phan-phu-bot-phan-nen/">Phấn phủ bột/ Phấn nén</a></li><li id="menu-item-2758" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2758"><a title="Thanh che khuyết điểm/ Má hồng" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/thanh-che-khuyet-diem-ma-hong/">Thanh che khuyết điểm/ Má hồng</a></li></ul></li><li id="menu-item-2168" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2168 menu-item-has-children"><a title="Trang điểm mắt môi" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s6.png" class="attachment-full size-full" alt="s6">Trang điểm mắt môi</a><ul role="menu" class=" sub-menu"><li id="menu-item-2169" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2169"><a title="Mascara" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/mascara/">Mascara</a></li><li id="menu-item-2170" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2170"><a title="Màu mắt" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/mau-mat/">Màu mắt</a></li><li id="menu-item-2172" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2172"><a title="Son môi" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/son-moi/">Son môi</a></li><li id="menu-item-3421" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3421"><a title="Viền mắt/ Chì mày" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/vien-mat-chi-may/">Viền mắt/ Chì mày</a></li></ul></li><li id="menu-item-2120" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2120 menu-item-has-children"><a title="Mặt nạ" href="https://thefaceshopvn.com/danh-muc/mat-na/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s7.png" class="attachment-full size-full" alt="s7">Mặt nạ</a><ul role="menu" class=" sub-menu"><li id="menu-item-2759" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2759"><a title="Mặt nạ giấy" href="https://thefaceshopvn.com/danh-muc/mat-na/mat-na-giay/">Mặt nạ giấy</a></li><li id="menu-item-2760" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2760"><a title="Mặt nạ lột/rửa/gel" href="https://thefaceshopvn.com/danh-muc/mat-na/mat-na-lot-rua-gel/">Mặt nạ lột/rửa/gel</a></li></ul></li><li id="menu-item-2101" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2101 menu-item-has-children"><a title="Chăm sóc cơ thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s8.png" class="attachment-full size-full" alt="s8">Chăm sóc cơ thể</a><ul role="menu" class=" sub-menu"><li id="menu-item-2762" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2762"><a title="Dưỡng tay/ Dưỡng chân" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/duong-tay-duong-chan/">Dưỡng tay/ Dưỡng chân</a></li><li id="menu-item-2766" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2766"><a title="Tẩy tế bào chết cơ thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/tay-te-bao-chet-co-the/">Tẩy tế bào chết cơ thể</a></li><li id="menu-item-2764" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2764"><a title="Sữa/ Gel tắm" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/sua-gel-tam/">Sữa/ Gel tắm</a></li><li id="menu-item-2765" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2765"><a title="Sữa/ Kem/ Gel dưỡng thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/sua-kem-gel-duong-the/">Sữa/ Kem/ Gel dưỡng thể</a></li><li id="menu-item-2761" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2761"><a title="Sản phẩm cho tóc" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/san-pham-cho-toc/">Sản phẩm cho tóc</a></li><li id="menu-item-2763" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2763"><a title="Khử mùi cơ thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/khu-mui-co-the/">Khử mùi cơ thể</a></li></ul></li><li id="menu-item-2102" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2102 menu-item-has-children"><a title="Bộ sản phẩm dưỡng da" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s10.png" class="attachment-full size-full" alt="s10">Bộ sản phẩm dưỡng da</a><ul role="menu" class=" sub-menu"><li id="menu-item-3416" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3416"><a title="Dr. Belmeur" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/dr-belmeur/">Dr. Belmeur</a></li><li id="menu-item-3418" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3418"><a title="YEHWADAM" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/yehwadam/">YEHWADAM</a></li><li id="menu-item-2185" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2185"><a title="White Seed" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/white-seed/">White Seed</a></li><li id="menu-item-2187" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2187"><a title="Chia Seed" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/chia-seed/">Chia Seed</a></li><li id="menu-item-2188" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2188"><a title="Clean Face" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/clean-face/">Clean Face</a></li><li id="menu-item-3417" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3417"><a title="The Therapy" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/the-therapy/">The Therapy</a></li><li id="menu-item-2755" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2755"><a title="Collagen" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/collagen/">Collagen</a></li><li id="menu-item-3896" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3896"><a title="Herb Day" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/herb-day/">Herb Day</a></li><li id="menu-item-3415" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3415"><a title="Dòng dưỡng gạo" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/dong-duong-gao/">Dòng dưỡng gạo</a></li><li id="menu-item-2189" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2189"><a title="Perfume Seed" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/perfume-seed/">Perfume Seed</a></li></ul></li><li id="menu-item-3419" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-3419 menu-item-has-children"><a title="Sản phẩm khác" href="https://thefaceshopvn.com/danh-muc/san-pham-khac/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/s6.png" class="attachment-full size-full" alt="s6">Sản phẩm khác</a><ul role="menu" class=" sub-menu"><li id="menu-item-2121" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2121"><a title="Nước hoa" href="https://thefaceshopvn.com/danh-muc/san-pham-khac/nuoc-hoa/"><img width="20" height="18" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s9.png" class="attachment-full size-full" alt="s9">Nước hoa</a></li><li id="menu-item-3420" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3420"><a title="Phụ kiện" href="https://thefaceshopvn.com/danh-muc/san-pham-khac/phu-kien/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/s6-1.png" class="attachment-full size-full" alt="s6">Phụ kiện</a></li></ul></li></ul><div class="all-category"><span data-open_text="All Categories" data-close_text="Close" class="open-cate">All Categories</span></div></div></div></div>
                            <script type="text/javascript">jQuery(document).ready(function(e){jQuery('.count_spNew').html("35");});</script> <div class="main-menu main-menu-wapper">
                                <ul id="menu-main-menu" class="navigation navigation-main-menu"><li id="menu-item-2095" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2095"><a title="Trang chủ" href="https://thefaceshopvn.com/">Trang chủ</a></li><li id="menu-item-3278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3278"><a title="Chính sách sỉ" href="https://thefaceshopvn.com/category/chinh-sach-si/">Chính sách sỉ</a></li><li id="menu-item-2096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2096"><a title="Hướng dẫn mua hàng" href="https://thefaceshopvn.com/huong-dan-mua-hang/">Hướng dẫn mua hàng</a></li><li id="menu-item-2099" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2099"><a title="Thương hiệu" href="https://brand.thefaceshopvn.com">Thương hiệu</a></li><li id="menu-item-2098" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2098"><a title="Facebook" href="https://www.facebook.com/thefaceshopxachtay/?fref=ts">Facebook</a></li></ul>
                                <a href="#" class="mobile-navigation">Menu<i class="fa fa-bars"></i></a>
                            </div>
                        </div><div id="form-search-opntop"></div><div id="shopping-cart-box-ontop" style="display: none;">
                            <i class="fa fa-shopping-cart"></i><div class="shopping-cart-box-ontop-content"></div>
                        </div>
                    </div>
                </div>
            </div><div class="content container">
                      <div id="container">
                          @RenderBody()
                          
                      </div>
            </div>
            <footer id="footer">
                <div class="container">
                    <div id="introduce-box" class="row">
                        <div class="col-md-3">
                            <div id="address-box">
                                <a href="@Url.Action("Index","Home")"><img alt="THEFACESHOP Việt Nam" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/logo-1.png"></a>
                            </div>
                        </div><div class="col-md-3"></div><div class="col-md-6 social-footer">
                            <div id="contact-box">
                                <div id="widget_kt_social-2" class="widget-container widget-footer-social widget_kt_social">
                                    <div class="social-link">
                                        <a href="https://www.facebook.com/thefaceshopxachtay/" title="Facebook"><i class="fa fa-facebook">Facebook</i> </a><a href="https://www.facebook.com/thefaceshopxachtay/" title="Instagram"><i class="fa fa-instagram"> Instagram</i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div id="trademark-box">
                        <div id="text-2" class="widget-container widget-footer-payment widget_text">
                            <div class="textwidget">
                                <ul id="trademark-list">
                                    <li class="fleft camketfooter" style="">
                                        <strong>Chúng tôi luôn cam kết:</strong><ul><li>The Face Shop chuyên cung cấp SỈ và LẺ mỹ phẩm THEFACESHOP chính hãng 100% từ Hàn Quốc.</li><li>Hỗ trợ tư vấn nhiệt tình 24/24</li><li>Giao hàng tận nơi siêu nhanh, nhận hàng, kiểm tra hàng mới thanh toán.</li><li>Hàng hóa được đóng gói đảm bảo.</li><li>Hotline: 0901 974 445</li></ul>
                                    </li>
                                    <li class="fright flast-li" id="shipping-methods">DỊCH VỤ GIAO HÀNG <a href="javascript:;"><img class="" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/trademark_6.png"></a><a href="javascript:;"><img style="height: 35px;background: #9dbf17;padding: 0 23px;" class="" src="https://zozoship.vn/Content/images/logo_new.png"></a></li>
                                    <li class="fright" id="payment-methods">Bảng phí giao hàng <a href="https://thefaceshopvn.com/bang-phi-giao-hang/">TẠI ĐÂY</a>   |</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div><a href="#" class="scroll_top" title="Scroll to Top" style="display: none;">Scroll</a><div id="yith-quick-view-modal">
        <div class="yith-quick-view-overlay"></div><div class="yith-wcqv-wrapper" style="left: 174.5px; top: 60px; width: 1000px; height: 290px;">
            <div class="yith-wcqv-main">
                <div class="yith-wcqv-head">
                    <a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
                </div><div id="yith-quick-view-content" class="woocommerce single-product"></div>
            </div>
        </div>
    </div>
    @*<script type="application/ld+json">
        {"@graph":[{"@context":"http:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":"1","item":{"name":"Trang ch\u1ee7","@id":"https:\/\/thefaceshopvn.com"}},{"@type":"ListItem","position":"2","item":{"name":"L\u00e0m s\u1ea1ch","@id":"https:\/\/thefaceshopvn.com\/danh-muc\/lam-sach\/"}},{"@type":"ListItem","position":"3","item":{"name":"T\u1ea9y t\u1ebf b\u00e0o ch\u1ebft","@id":"https:\/\/thefaceshopvn.com\/danh-muc\/lam-sach\/tay-te-bao-chet\/"}},{"@type":"ListItem","position":"4","item":{"name":"T\u1ea9y t\u1ebf b\u00e0o ch\u1ebft Tr\u1eafng S\u00e1ng Da WHITE JEWEL PEELING"}}]},{"@context":"http:\/\/schema.org\/","@type":"Product","@id":"https:\/\/thefaceshopvn.com\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/","url":"https:\/\/thefaceshopvn.com\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/","name":"T\u1ea9y t\u1ebf b\u00e0o ch\u1ebft Tr\u1eafng S\u00e1ng Da WHITE JEWEL PEELING","offers":[{"@type":"Offer","priceCurrency":"VND","availability":"http:\/\/schema.org\/InStock","sku":"","image":"https:\/\/thefaceshopvn.com\/wp-content\/uploads\/2017\/04\/untitled_master.png","description":"C\u00f4ng d\u1ee5ng S\u1ed1ng trong m\u00f4i tr\u01b0\u1eddng \u00f4 nhi\u1ec5m, nhi\u1ec1u kh\u00f3i b\u1ee5i l\u00e0m da b\u1ea1n th\u00eam l\u00e3o h\u00f3a nhanh, thi\u1ebfu s\u1ee9c s\u1ed1ng, v\u00e0 kh\u1ea3 n\u0103ng h\u1ea5p th\u1ee5 ch\u1ea5t dinh d\u01b0\u1ee1ng k\u00e9m \u0111i r\u1ea5t nhi\u1ec1u do c\u00e1c t\u1ebf b\u00e0o ch\u1ebft, b\u00e3 nh\u1eddn t\u00edch t\u1ee5 v\u00e0 c\u00e1c \u0111\u1ed9c t\u1ed1 tr\u00ean b\u1ec1 m\u1eb7t da. S\u1edf h\u1eefu m\u1ed9t l\u00e0n da tr\u1eafng s\u00e1ng, m\u1ecbn m\u00e0ng lu\u00f4n l\u00e0 m\u01a1 \u01b0\u1edbc c\u1ee7a h\u1ea7u h\u1ebft ph\u00e1i n\u1eef. \u0110\u1ec3 c\u00f3 \u0111\u01b0\u1ee3c m\u1ed9t l\u00e0n da ho\u00e0n h\u1ea3o, t\u01b0\u01a1i tr\u1ebb th\u00ec\u00a0t\u1ea9y da ch\u1ebft ng\u1ecdc trai WHITE JEWEL PEELING ch\u00ednh l\u00e0 gi\u1ea3i ph\u00e1p m\u00e0 b\u1ea1n \u0111\u1eebng qu\u00ean b\u1ecf qua b\u01b0\u1edbc t\u1ea9y t\u1ebf b\u00e0o ch\u1ebft. S\u1ea3n ph\u1ea9m gi\u00fap l\u00e0m s\u1ea1ch v\u00e0 nh\u1eb9 nh\u00e0ng lo\u1ea1i b\u1ecf t\u1ebf b\u00e0o ch\u1ebft tr\u00ean da m\u1eb7t, th\u00fac \u0111\u1ea9y v\u00f2ng tu\u1ea7n ho\u00e0n m\u00e1u ng\u0103n ch\u1eb7n c\u00e1c t\u00e1c nh\u00e2n g\u00e2y s\u1ea1m n\u00e1m da, cung c\u1ea5p d\u01b0\u1ee1ng ch\u1ea5t gi\u00fap t\u00e1i t\u1ea1o l\u00e0n da m\u1edbi, cho b\u1ea1n l\u00e0n da s\u00e1ng h\u1ed3ng t\u1ef1 nhi\u00ean v\u00e0 r\u1ea1ng r\u1ee1, gi\u00fap lo\u1ea1i b\u1ecf ho\u00e0n to\u00e0n m\u1ee5n \u0111\u1ea7u \u0111en, m\u1ee5n tr\u1ee9ng c\u00e1, l\u00e0m s\u1ea1ch b\u00e3 nh\u1eddn gi\u00fap se kh\u00edt l\u1ed7 ch\u00e2n l\u00f4ng. \u0110\u1eb7c bi\u1ec7t, kh\u1ea3 n\u0103ng ng\u0103n ng\u1eeba l\u00e3o ho\u00e1 l\u00e0m s\u0103n ch\u1eafc c\u01a1 m\u1eb7t s\u1ebd l\u00e0m gi\u1ea3m v\u1ebft nh\u0103n tr\u00ean da hi\u1ec7u qu\u1ea3, k\u00edch ho\u1ea1t s\u1ef1 ho\u1ea1t \u0111\u1ed9ng c\u1ee7a da \u0111\u1ec3 d\u1ec5 d\u00e0ng h\u1ea5p thu c\u00e1c s\u1ea3n ph\u1ea9m d\u01b0\u1ee1ng da, v\u00e0 gi\u00fap khu\u00f4n m\u1eb7t khi trang \u0111i\u1ec3m b\u1eaft ph\u1ea5n t\u1ed1t h\u01a1n. Th\u00e0nh ph\u1ea7n T\u1ea9y t\u1ebf b\u00e0o ch\u1ebft\u00a0WHITE JEWEL PEELING\u00a0v\u1edbi chi\u1ebft xu\u1ea5t t\u1eeb th\u1ea1ch anh t\u00edm, \u0111\u00e1 m\u1eaft m\u00e8o v\u00e0 b\u1ed9t ng\u1ecdc trai gi\u00fap lo\u1ea1i b\u1ecf t\u1ebf b\u00e0o ch\u1ebft, th\u00fac \u0111\u1ea9y tu\u1ea7n ho\u00e0n m\u00e1u v\u00e0 l\u00e0m tr\u1eafng s\u00e1ng da. H\u01b0\u1edbng d\u1eabn s\u1eed d\u1ee5ng L\u00e0m s\u1ea1ch da v\u00e0 lau kh\u00f4. L\u1ea5y m\u1ed9t l\u01b0\u1ee3ng s\u1ea3n ph\u1ea9m v\u1eeba \u0111\u1ee7 ra tay r\u1ed3i m\u00e1t xa nh\u1eb9 nh\u00e0ng trong kho\u1ea3ng 30 gi\u00e2y. R\u1eeda m\u1eb7t s\u1ea1ch v\u1edbi n\u01b0\u1edbc.","seller":{"@type":"Organization","name":"THEFACESHOP Vi\u1ec7t Nam","url":"https:\/\/thefaceshopvn.com"},"price":"215000"}]}]}
    </script>*@
    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">{{{data.variation.variation_description}}}</div>
        <div class="woocommerce-variation-price">{{{data.variation.price_html}}}</div>
        <div class="woocommerce-variation-availability">{{{data.variation.availability_html}}}</div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p>Rất tiếc,sản phẩm này hiện không tồn tại.Hãy chọn một phương thức kết hợp khác.</p>
    </script> <link rel="stylesheet" id="woocommerce_prettyPhoto_css-css" href="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/css/prettyPhoto.css?ver=3.0.1" type="text/css" media="all">
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/resizable.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/draggable.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/button.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/jquery/ui/dialog.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/wpdialog.min.js?ver=4.4.15"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>
    <script type="text/javascript">var _wpcf7={"loaderUrl":"https:\/\/thefaceshopvn.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"\u0110ang g\u1eedi ...","cached":"1"};</script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3"></script>
    <script type="text/javascript">var ajax_mailchimp={"ajaxurl":"https:\/\/thefaceshopvn.com\/wp-admin\/admin-ajax.php","security":"5606657ef9"};</script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/kutetheme-toolkit/mailchimp/assets/script.js?ver=1.0"></script>
    <script type="text/javascript">var wc_single_product_params={"i18n_required_rating_text":"Vui l\u00f2ng ch\u1ecdn m\u1ed9t m\u1ee9c \u0111\u00e1nh gi\u00e1","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":false,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false},"zoom_enabled":"","photoswipe_enabled":"","flexslider_enabled":""};</script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=3.0.1"></script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.3"></script>
    <script type="text/javascript">var woocommerce_params={"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/?wc-ajax=%%endpoint%%"};</script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.0.1"></script>
    <script type="text/javascript">var wc_cart_fragments_params={"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};</script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.0.1"></script>
    <script type="text/javascript">var yith_woocompare={"ajaxurl":"\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/?wc-ajax=%%endpoint%%","actionadd":"yith-woocompare-add-product","actionremove":"yith-woocompare-remove-product","actionview":"yith-woocompare-view-table","actionreload":"yith-woocompare-reload-product","added_label":"Added","table_title":"Product Comparison","auto_open":"yes","loader":"https:\/\/thefaceshopvn.com\/wp-content\/plugins\/yith-woocommerce-compare\/assets\/images\/loader.gif","button_text":"Compare","cookie_name":"yith_woocompare_list"};</script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/yith-woocommerce-compare/assets/js/woocompare.min.js?ver=2.2.0"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/yith-woocommerce-compare/assets/js/jquery.colorbox-min.js?ver=1.4.21"></script>
    <script type="text/javascript">var yith_qv={"ajaxurl":"\/wp-admin\/admin-ajax.php","loader":"https:\/\/thefaceshopvn.com\/wp-content\/plugins\/yith-woocommerce-quick-view\/assets\/image\/qv-loader.gif","is2_2":""};</script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/plugins/yith-woocommerce-quick-view/assets/js/frontend.min.js?ver=1.2.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/skip-link-focus-fix.js?ver=20141010"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/bootstrap/js/bootstrap.min.js?ver=3.3.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/owl.carousel/owl.carousel.js?ver=2.0"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/fancyBox/jquery.fancybox.js?ver=2.1.5"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/jquery-ui/jquery-ui.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/jquery.actual.min.js?ver=1.0.16"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/Modernizr.js?ver=1.0.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/isotope.pkgd.js?ver=1.0"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/packery-mode.pkgd.min.js?ver=1.0"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/countdown/jquery.plugin.js?ver=1.0.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/countdown/jquery.countdown.js?ver=2.0.2"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/libs/jquery.bxslider/jquery.bxslider.min.js?ver=4.1.2"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/functions.js?ver=1.0.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-content/themes/kutetheme/js/lookbook.js?ver=1.0.1"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/wp-embed.min.js?ver=4.4.15"></script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/underscore.min.js?ver=1.6.0"></script>
    <script type="text/javascript">var _wpUtilSettings={"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};</script>
    <script type="text/javascript" src="https://thefaceshopvn.com/wp-includes/js/wp-util.min.js?ver=4.4.15"></script>
    <script type="text/javascript">var wc_add_to_cart_variation_params={"wc_ajax_url":"\/san-pham\/tay-te-bao-chet-trang-sang-da-white-jewel-peeling\/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"R\u1ea5t ti\u1ebfc, kh\u00f4ng c\u00f3 s\u1ea3n ph\u1ea9m n\u00e0o ph\u00f9 h\u1ee3p v\u1edbi l\u1ef1a ch\u1ecdn c\u1ee7a b\u1ea1n. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c.","i18n_make_a_selection_text":"Please select some product options before adding this product to your cart.","i18n_unavailable_text":"R\u1ea5t ti\u1ebfc, s\u1ea3n ph\u1ea9m n\u00e0y hi\u1ec7n kh\u00f4ng t\u1ed3n t\u1ea1i. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c."};</script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=3.0.1"></script>
    <script type="text/javascript" src="//thefaceshopvn.com/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6"></script> <div class="overLayout"></div><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/1e2RywyANNe.js?version=42#channel=f1d3ab7e341bee8&amp;origin=https%3A%2F%2Fthefaceshopvn.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
    <script>$(document).ready(function(){var raido=$(".wrap").attr("data-toggle");if(raido==1){$(".vnk-tuvan").css("display","none");$(".x").click(function(){$(".wrap").slideToggle();$(".vnk-tuvan").slideToggle();});$(".vnk-tuvan").click(function(){$(".wrap").slideToggle();$(this).slideToggle();});}else{$(".wrap").css("display","none");$(".x").click(function(){$(".wrap").slideToggle();$(".vnk-tuvan").slideToggle();});$(".vnk-tuvan").click(function(){$(".wrap").slideToggle();$(this).slideToggle();});}})(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=201165220386921";fjs.parentNode.insertBefore(js,fjs);}(document,"script","facebook-jssdk"));</script>
    <style>
        .wrap {
            position: fixed;
            width: 300px;
            height: 400px;
            z-index: 9999999;
            right: 0px;
            bottom: 0px
        }

        .x {
            font-family: arial,helvetica;
            background: rgba(78,86,101,0.8) none repeat scroll 0 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -19px;
            width: 25px;
            z-index: 99999999
        }

            .x:hover {
                cursor: pointer
            }

        .pxem {
            text-align: left;
            height: 20px;
            margin-bottom: 0;
            margin-top: 0;
            background: #3c93d0;
            width: 100%;
            bottom: 0;
            display: block;
            left: 0px;
            position: absolute;
            z-index: 999999999;
            border-left: 1px solid #fff
        }

            .pxem
            a.axem {
                color: #fff;
                font-family: arial,helvetica;
                font-size: 12px;
                line-height: 23px;
                padding-left: 5px;
                text-decoration: none
            }

                .pxem a.axem:hover {
                    text-decoration: underline
                }

        .alogo {
            position: absolute;
            bottom: 0;
            right: 0px;
            z-index: 999999999999;
            width: 75px;
            height: 20px;
            display: inline-block;
            background: #3c93d0;
            border-left: 2px solid #277EBB;
            padding-right: 0px;
            padding-left: 5px
        }

        .vnk-tuvan {
            position: fixed;
            width: 300px;
            background: #3c93d0;
            z-index: 99999999;
            right: 0px;
            bottom: 0px;
            border-style: solid solid none;
            border-width: 1px 1px 0;
            border-color: #277EBB
        }

            .vnk-tuvan
            p {
                color: #fff;
                font-size: 15px;
                margin: 0;
                padding: 0 13px;
                text-align: left
            }

                .vnk-tuvan p
                a {
                    color: #fff;
                    font-size: 15px;
                    padding: 5px 0px 7px;
                    margin: 0;
                    display: inline-block;
                    font-family: arial,helvetica;
                    text-decoration: none
                }

                    .vnk-tuvan p a:hover {
                        text-decoration: underline;
                        cursor: pointer
                    }

                .vnk-tuvan p
                img {
                    float: right;
                    margin-top: 10px
                }
    </style><div data-toggle="0" class="wrap" style="position: fixed; width: 280px; height: 320px; display: none;"><span class="x" style="">X</span><div class="fb-page fb_iframe_widget" data-adapt-container-width="true" data-height="320" data-hide-cover="false" data-href="https://www.facebook.com/thefaceshopxachtay/?fref=ts" data-show-facepile="true" data-show-posts="false" data-small-header="false" data-tabs="messages" data-width="280" style="position:relative; z-index:9999999; right:0px; bottom:21px;border-left: 1px solid #fff;border-top: 1px solid #fff;" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=201165220386921&amp;container_width=0&amp;height=320&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fthefaceshopxachtay%2F%3Ffref%3Dts&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;tabs=messages&amp;width=280"><span style="vertical-align: bottom; width: 280px; height: 320px;"><iframe name="f11ab56aa3445d4" width="280px" height="320px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=201165220386921&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F1e2RywyANNe.js%3Fversion%3D42%23cb%3Df1147cacade3a68%26domain%3Dthefaceshopvn.com%26origin%3Dhttps%253A%252F%252Fthefaceshopvn.com%252Ff1d3ab7e341bee8%26relation%3Dparent.parent&amp;container_width=0&amp;height=320&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fthefaceshopxachtay%2F%3Ffref%3Dts&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;tabs=messages&amp;width=280" class="" style="border: none; visibility: visible; width: 280px; height: 320px;"></iframe></span></div><p class="pxem" style=""><a class="axem" style="" href="#" target="_blank">HOTLINE: 0901 974 445</a><a class="alogo" style=""></a></p></div><div class="vnk-tuvan" style="width: 278px;"><p style=" "><a style="">Hãy giao tiếp với chúng tôi</a></p></div>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-58189837-4','auto');ga('send','pageview');</script>
    <!--
    *** This site runs WP Super Minify plugin v1.5.1 - https://wordpress.org/plugins/wp-super-minify ***
    *** Total size saved: 9.639% | Size before compression: 135490 bytes | Size after compression: 122430 bytes. ***
    -->
    <!-- Dynamic page generated in 1.889 seconds. -->
    <!-- Cached page generated by WP-Super-Cache on 2018-06-01 22:37:25 -->
    <!-- super cache --><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div><div class="ui-selectmenu-menu ui-front"><ul aria-hidden="true" aria-labelledby="cat-button" id="cat-menu" class="ui-menu ui-widget ui-widget-content ui-corner-bottom" role="listbox" tabindex="0"></ul></div>
</body>
</html>