@using ananlips.Models;
@using System.Globalization;
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_Category = dict.ContainsKey("data_Category") ? (DefaultView.FE_Category)dict["data_Category"] : new DefaultView.FE_Category();
    var data_SubCategory = dict.ContainsKey("data_SubCategory") ? (DefaultView.FE_SubCategory)dict["data_SubCategory"] : new DefaultView.FE_SubCategory();
    var data_Product = dict.ContainsKey("data_Product") ? (DefaultView.FE_Product)dict["data_Product"] : new DefaultView.FE_Product();
    var data_lstProduct = dict.ContainsKey("data_lstProduct") ? (List<DefaultView.FE_Product>)dict["data_lstProduct"] : new List<DefaultView.FE_Product>();
    var data_ListOrderProduct = DefaultView.ListOrderProduct();
    var data_BestSell = DefaultView.FE_Product.GetBestSell();

}

<div id="container">
    <div id="content" role="main">

        <nav class="woocommerce-breadcrumb">
            <a href="@Url.Action("Index","Home")">Trang chủ</a><span class="navigation-pipe">&nbsp;</span>
            <a href="@Url.Action("Index","Category",new {Id=data_Category.CategoryId })">@data_Category.CategoryName</a><span class="navigation-pipe">&nbsp;</span>
            <a href="@Url.Action("Index","SubCategory",new {Id=data_SubCategory.SubCategoryId })">@data_SubCategory.SubCategoryName</a><span class="navigation-pipe">&nbsp;</span>
            @data_Product.ProductName
        </nav><div class="row sidebar-full">
            <div class="view-product-list main-content col-xs-12 col-sm-12 col-md-12">
                <div itemscope="" itemtype="http://schema.org/Product" id="product-@data_Product.ProductId" class="post-@data_Product.ProductId product type-product status-publish has-post-thumbnail product_cat-kem-lot product_cat-san-pham-khuyen-mai product_cat-san-pham-moi first instock sale shipping-taxable purchasable product-type-simple">
                    <span class="onsale">Giảm giá!</span><div class="pb-left-column col-xs-12 col-md-6">
                        <div id="product-img" class="clearfix">
                            <div id="slider-thumb" class="hidden-xs">
                                <ul>
                                    <li class="product-thumb" data-index="0">
                                        <a href="#" data-image="@data_Product.ProductImg">
                                            <img alt="@data_Product.ProductName" src="@data_Product.ProductImg">
                                        </a>
                                    </li>
                                </ul>
                            </div><div id="slider-feature" class="flexslider">
                                <img src="@data_Product.ProductImg">
                            </div>
                            <span class="giamgia_">-@data_Product.Discount<i>%</i></span>
                        </div>
                        <script>jQuery(document).ready(function (e) { jQuery('#slider-thumb ul li a').click(function () { var index = jQuery(this).attr('data-image'); jQuery('#slider-feature').html('<img src="' + index + '" />'); return false; }) });</script>
                    </div><div class="summary entry-summary">
                        <h1 class="product_title entry-title">@data_Product.ProductName</h1>
                        <p class="price">
                            <del><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Product.Price))<span class="woocommerce-Price-currencySymbol">₫</span></span></del>
                            <ins><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Product.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span></ins>
                        </p><div class="product-info clearfix">
                            <p class="info-item col-xs-12 col-sm-6">
                                <label>Thương hiệu</label>
                                <span class="vendor">@data_Product.Brand</span>
                            </p><p class="info-item col-xs-12 col-sm-6">
                                <label>Nơi sản xuất</label>
                                <span>@data_Product.Origin</span>
                            </p>
                        </div><div class="product-info clearfix">
                            <p class="info-item col-xs-12 col-sm-6">
                                <label>Dung tích</label>
                                <span class="vendor">@data_Product.Unitquantity @data_Product.Unit</span>
                            </p>
                        </div>
                        <form class="cart" method="post" enctype="multipart/form-data" action="@Url.Action("AddItemToBill","Bill")">
                            <div class="quantity">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="quantity-label">
                                                Số lượng
                                            </td>
                                            <td>
                                                <span class="quantity-minus">-</span>
                                                <input type="text" step="1" min="1" name="Quantity" value="1" title="Qty" class="input-text qty text" size="4">
                                                <span class="quantity-plus">+</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="info-buynow pull-right">
                                <div class="hotline clearfix">
                                    <div class="hotline-icon">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div><div class="hotline-text text-center">
                                        <span class="hotline-color">HOTLINE: 0901 974 445</span>
                                    </div>
                                </div>
                            </div><div class="clearfix"></div><div class="clearfix">
                                <div class="action-cart pull-left">
                                    <button type="submit" name="ProductId" value="@data_Product.ProductId" class="single_add_to_cart_button button alt">Thêm vào giỏ</button>
                                </div>
                                @*<div class="action-cart pull-right" style="margin-right:0">
                                    <a href="" data-toggle="modal" data-product_id="@data_Product.ProductId" data-target="#tuvan-modal" class="buy-now available fastBuyBtn" style="height:50px; line-height:50px;">Mua nhanh</a>
                                </div>*@
                            </div><div class="privacy-bg">
                                <div class="clearfix">
                                    <div class="privacy-left pull-left">
                                        <p style="margin-top:0;">Sẽ có tại nhà bạn</p>
                                        <span>- Trong 48h đối với nội thành TP.HCM <br>- Không quá 5 ngày với các tỉnh thành khác.<br><i>(Không kể ngày lễ và chủ nhật.)</i></span>
                                    </div><div class="privacy-right pull-left"><p class="doitra">Giao hàng toàn quốc</p><p class="vanchuyen">Giao hàng nhanh, đảm bảo</p><p class="thanhtoan">Nhận hàng mới thanh toán</p></div>
                                </div><div class="clearfix" style="margin-top:5px; text-align:center;">
                                    <strong>TƯ VẤN BÁN HÀNG: 0901 974 445</strong>
                                </div>
                            </div>
                        </form>
                        <div class="modal fade in" id="tuvan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div role="form" class="frmQuickBill" id="frmQuickBill" lang="vi" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="@Url.Action("QuickBill","Bill")" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="2242">
                                        <input type="hidden" name="_wpcf7_version" value="4.3">
                                        <input type="hidden" name="_wpcf7_locale" value="vi">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2242-p@data_Product.ProductId-o1">
                                        <input type="hidden" name="_wpnonce" value="95a4f2671b">
                                        <input type="hidden" name="ProductId" value="@data_Product.ProductId">
                                        <input type="hidden" name="CategoryId" value="@data_Product.CategoryId">
                                        <input type="hidden" name="SubCategoryId" value="@data_Product.SubCategoryId">

                                    </div><div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="buynow-top clearfix">
                                                    <button id="closeModalProduct" type="button" class="close" data-dismiss="modal">×</button><p></p><div class="buynow-img pull-left">
                                                        <img src="@data_Product.ProductImg" class="img_product_th">
                                                    </div><div class="buynow-info pull-left">
                                                        <div class="clearfix buynow-title"><h3 class="pull-left">@data_Product.ProductName</h3><p></p></div><div class="product-info clearfix">
                                                            <p class="info-item col-xs-12 col-sm-6">
                                                                <label>Thương hiệu</label><span class="vendor">@data_Product.Brand</span>
                                                            </p><p class="info-item col-xs-12 col-sm-6">
                                                                <label>Nơi sản xuất</label><span>@data_Product.Origin</span>
                                                            </p><p></p>
                                                        </div><div class="buynow-quantity clearfix">
                                                            <div class="show-variant"></div><div class="show-quantity">
                                                                <label>Số lượng</label><span class="wpcf7-form-control-wrap quantity2"><select name="Quantity" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required product-quantity" id="quantity2" aria-required="true" aria-invalid="false"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></span>
                                                            </div><p></p>
                                                        </div><p></p>
                                                    </div><p></p>
                                                </div><div class="buynow-total row clearfix">
                                                    <span class="pull-left">Tổng tiền:</span><span class="pull-right buynow-total-price" data-price="@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Product.Price))"><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_Product.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span></span>
                                                </div><p>                <input type="hidden" value="219000" id="priceProductSimple"></p><div class="areainfo clearfix">
                                                    <div class="pull-left">
                                                        <span class="wpcf7-form-control-wrap fullName"><input type="text" name="FullNname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required saveinfo" aria-required="true" aria-invalid="false" placeholder="Họ và tên"></span>
                                                    </div><div class="pull-right">
                                                        <span class="wpcf7-form-control-wrap phoneNumber"><input type="tel" name="Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel saveinfo" aria-required="true" aria-invalid="false" placeholder="Số điện thoại"></span>
                                                    </div><div class="pull-left">
                                                        <span class="wpcf7-form-control-wrap nameAddress"><input type="text" name="Address" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required saveinfo" aria-required="true" aria-invalid="false" placeholder="Địa chỉ"></span>
                                                    </div><div class="pull-right"> <span class="wpcf7-form-control-wrap emailCus"><input type="email" name="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email saveinfo" aria-required="true" aria-invalid="false" placeholder="Email"></span></div>
                                                    <div class="itemHidden">
                                                        <span class="wpcf7-form-control-wrap id-Product"><input type="text" name="id-Product" value="@data_Product.ProductId" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputHidden" aria-required="true" aria-invalid="false"></span>
                                                        <span class="wpcf7-form-control-wrap name-Product">
                                                            <input type="text" name="name-Product" value="@data_Product.ProductName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputHidden" aria-required="true" aria-invalid="false">
                                                        </span>
                                                    </div>
                                                </div><div class="text-center">
                                                    <input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit payoffline BuyFastS"><img class="ajax-loader" src="https://thefaceshopvn.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Đang gửi ..." style="visibility: hidden;">
                                                </div><p></p>
                                            </div><p></p>
                                        </div><p></p>
                                    </div><div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function (e) { jQuery('.fastBuyBtn').click(function () { jQuery('#tuvan-modal').css({ 'display': 'block' }); jQuery('.overLayout').css({ 'display': 'block' }); return false; }); jQuery('.overLayout').click(function () { jQuery('#tuvan-modal').css({ 'display': 'none' }); jQuery('.overLayout').css({ 'display': 'none' }); return false; }); jQuery('#closeModalProduct').click(function () { jQuery('#tuvan-modal').css({ 'display': 'none' }); jQuery('.overLayout').css({ 'display': 'none' }); return false; }); jQuery('#quantity2').change(function () { var priceProductSimple = document.getElementById('priceProductSimple').value; var numP = document.getElementById('quantity2').value; var priceTotal; priceTotal = formatCurrency(numP * priceProductSimple); jQuery('.buynow-total-price').text(log(addCommas(numP * priceProductSimple)) + '₫') }); }); function formatCurrency(total) {
                                var neg = false; if (total < 0) { neg = true; total = Math.abs(total); }
                                return parseFloat(total, 10).toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + (neg ? "-$" : '₫');
                            }
                            function log(args) {
                                var str = ""; for (var i = 0; i < arguments.length; i++) { if (typeof arguments[i] === "object") { str += JSON.stringify(arguments[i]); } else { str += arguments[i]; } }
                                return str;
                            }
                            function addCommas(str) {
                                var parts = (str + "").split("."), main = parts[0], len = main.length, output = "", i = len - 1; while (i >= 0) {
                                    output = main.charAt(i) + output; if ((len - i) % 3 === 0 && i > 0) { output = "," + output; }
                                    --i;
                                }
                                if (parts.length > 1) { output += "," + parts[1]; }
                                return output;
                            }</script><a href="https://thefaceshopvn.com?action=yith-woocompare-add-product&amp;id=@data_Product.ProductId" class="compare button" data-product_id="@data_Product.ProductId" rel="nofollow">Compare</a>
                    </div><div class="clearfix"></div><div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="sidebar">
                                <div id="secondary" class="secondary">
                                    <div id="widget-area" class="widget-area" role="complementary">
                                        <aside id="text-3" class="widget widget_text">
                                            <h2 class="widget-title">Sản phẩm bán chạy</h2><div class="textwidget">
                                                <div class="layout_ProductSidebar">
                                                    <ul class="product-list">
                                                        @foreach (var ProductItem in data_BestSell)
                                                        {
                                                            <li>
                                                                <div class="left-block kt-template-loop">
                                                                    <a href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})" title="@ProductItem.ProductName">
                                                                        <img class="owl-lazy wp-post-image" src="@ProductItem.ProductImg" data-src="@ProductItem.ProductImg" width="300" height="300" alt="@ProductItem.ProductName"><span class="giamgia_">-@ProductItem.Discount<i>%</i></span>
                                                                    </a><div class="quick-view">
                                                                        <a href="#" class="search yith-wcqv-button" data-product_id="@ProductItem.ProductId">Quick View</a>
                                                                    </div><div class="add-to-cart"><a href="@Url.Action("AddItemToBill","Bill",new { ProductId=ProductItem.ProductId})" rel="nofollow" data-product_id="@ProductItem.ProductId" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div>
                                                                    <a href="#" class="button yith-wcqv-button" data-product_id="@ProductItem.ProductId">Quick View</a>
                                                                </div><div class="right-block">
                                                                    <h5 class="product-name"><a title="@ProductItem.ProductName" href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})">@ProductItem.ProductName</a></h5><div class="content_price">
                                                                        <span class="price product-price">
                                                                            <span class="price"><span class="price"><del><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItem.Price))<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItem.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div><div class=" clearfix"></div>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div><div class="main-content col-xs-12 col-sm-8 col-md-9">
                            <div class="woocommerce-tabs wc-tabs-wrapper">
                                <ul class="tabs wc-tabs" role="tablist">
                                    <li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description">
                                        <a href="#tab-description">THÔNG TIN SẢN PHẨM</a>
                                    </li>
                                </ul>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">
                                    @Html.Raw(HttpUtility.HtmlDecode(data_Product.Comments))
                                </div>
                            </div>
                            <script type="text/javascript">jQuery(document).ready(function (e) { jQuery('#tab-description .readmore').click(function () { jQuery('#tab-description .des').css({ 'height': 'inherit' }); jQuery('#tab-description .show-more').css({ 'display': 'none' }); }); });</script>
                            <div class="related products">
                                <h2>SẢN PHẨM LIÊN QUAN</h2><div class="row list-product-row">
                                    <ul class="product-list clearfix columns-3 owl-carousel owl-theme owl-loaded">
                                        @for (var i = 0; i < 9; i++)
                                        {
                                            var countProduct = data_lstProduct.Count;

                                            if (i < countProduct)
                                            {

                                                <li class="col-xs-12 col-md-3 col-sm-6 post-@i product type-product status-publish has-post-thumbnail product_cat-kem-nen-che-khuyet-diem product_cat-phan-nuoc-cc-cream product_cat-san-pham-ban-chay product_cat-san-pham-khuyen-mai product_cat-san-pham-moi product_cat-san-pham-noi-bat product_cat-trang-diem-nen last instock sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-container">
                                                        <a href="@Url.Action("Index","Product",new { Id=@data_lstProduct[i].ProductId})" class="woocommerce-LoopProduct-link"></a><div class="left-block">
                                                            <a href="@Url.Action("Index","Product",new { Id=@data_lstProduct[i].ProductId})" class="woocommerce-LoopProduct-link">
                                                            </a>
                                                            <a href="@Url.Action("Index","Product",new { Id=@data_lstProduct[i].ProductId})">
                                                                <img width="300" height="366" src="@data_lstProduct[i].ProductImg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="@data_lstProduct[i].ProductName" title="@data_lstProduct[i].ProductName" srcset="@data_lstProduct[i].ProductImg 100w, @data_lstProduct[i].ProductImg 300w, @data_lstProduct[i].ProductImg 270w" sizes="(max-width: 300px) 100vw, 300px">
                                                            </a><div class="quick-view"><div class="woocommerce product compare-button"><a href="#" class="compare button" data-product_id="3279" rel="nofollow">Compare</a></div><a href="#" class="search yith-wcqv-button" data-product_id="@data_lstProduct[i].ProductId">Quick View</a></div>
                                                            <div class="add-to-cart"><a href="@Url.Action("AddItemToBill","Bill",new { ProductId=@data_lstProduct[i].ProductId})" rel="nofollow" data-product_id="@data_lstProduct[i].ProductId" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a></div><a href="#" class="button yith-wcqv-button" data-product_id="@data_lstProduct[i].ProductId">Quick View</a>
                                                        </div><div class="right-block">
                                                            <h5 class="product-name"><a title="@data_lstProduct[i].ProductName" href="@Url.Action("Index","Product",new { Id=@data_lstProduct[i].ProductId})">@data_lstProduct[i].ProductName</a></h5><div class="content_price">
                                                                <span class="price">
                                                                    <del>
                                                                        <span class="woocommerce-Price-amount amount"> @Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_lstProduct[i].Price))<span class="woocommerce-Price-currencySymbol">₫</span>
                                                                        </span>
                                                                </del>
                                                                <ins><span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", data_lstProduct[i].PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span></ins>
                                                            </span><div class="product-star" title="Rated 0 out of 5"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
                                                        </div><div class="info-orther"><p class="availability">Availability: <span class="instock">In stock</span><span class="outofstock">Out of stock</span></p><div class="product-desc"></div></div>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><meta itemprop="url" content="https://thefaceshopvn.com/san-pham/kem-lot-bat-sang-tfs-highlighter-beam/">
                </div>
            </div>
        </div>
    </div>
</div>

