@using ananlips.Models;

@using System.Globalization;
@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var data_MenuItem = dict.ContainsKey("data_MenuItem") ? (List<DefaultView.FE_MenuItem>)dict["data_MenuItem"] : new List<DefaultView.FE_MenuItem>();
    var data_ProductGroupByCategory = dict.ContainsKey("data_ProductGroupByCategory") ? (List<DefaultView.FE_Product>)dict["data_ProductGroupByCategory"] : new List<DefaultView.FE_Product>();

}
<div id="primary" class="content-area sidebar-full">
    <main id="main" class="site-main">
        <div class="row">
            <div class="main-content page-full-width col-sm-12">
                <article id="post-347" class="show post-347 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3 vc_hidden-xs">
                                <div class="vc_column-inner vc_custom_1442392234420">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p></p></div></div>
                                    </div>
                                </div>
                            </div><div class="home1-slider wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-9">
                                <div class="vc_column-inner vc_custom_1442392224357">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_revslider_element wpb_content_element">
                                            <video controls="" style="width: 100%;" autoplay>
                                                <source src="@Url.Content("~/Content/Videos/video01.wmv")" type="video/x-ms-wmv">
                                            </video>
                                        </div>
                                        @*xxx*@

                                    </div>
                                </div>
                            </div>
                            @*<div class="showonmobile wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1492879233814"><div class="wpb_wrapper">
                                <ul id="menu-danh-muc-san-pham-1" class="navigation  vertical-menu-list"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2126"><a title="<img src=&quot;https://thefaceshopvn.com/wp-content/uploads/2017/04/sale-xmas.png&quot; />" href="https://thefaceshopvn.com/danh-muc/san-pham-khuyen-mai/"><img src="https://thefaceshopvn.com/wp-content/uploads/2017/04/sale-xmas.png"></a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2125"><a title="Sản phẩm mới <span class=&quot;icon-salenews count_spNew&quot;>0</span>" href="https://thefaceshopvn.com/danh-muc/san-pham-moi/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s2.png" class="attachment-full size-full" alt="s2">Sản phẩm mới <span class="icon-salenews count_spNew">30</span></a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2103 menu-item-has-children"><a title="Dưỡng da" href="https://thefaceshopvn.com/danh-muc/duong-da/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s3.png" class="attachment-full size-full" alt="s3">Dưỡng da</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2108"><a title="Nước cân bằng" href="https://thefaceshopvn.com/danh-muc/duong-da/nuoc-can-bang/">Nước cân bằng</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2110"><a title="Tinh chất" href="https://thefaceshopvn.com/danh-muc/duong-da/tinh-chat/">Tinh chất</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2109"><a title="Sữa dưỡng" href="https://thefaceshopvn.com/danh-muc/duong-da/sua-duong/">Sữa dưỡng</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2105"><a title="Kem dưỡng" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-duong/">Kem dưỡng</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2106"><a title="Kem mắt" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-mat/">Kem mắt</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2104"><a title="Kem chống nắng" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-chong-nang/">Kem chống nắng</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2111"><a title="Xịt khoáng" href="https://thefaceshopvn.com/danh-muc/duong-da/xit-khoang/">Xịt khoáng</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2107"><a title="Kem mát-xa" href="https://thefaceshopvn.com/danh-muc/duong-da/kem-mat-xa/">Kem mát-xa</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2112 menu-item-has-children"><a title="Làm sạch" href="https://thefaceshopvn.com/danh-muc/lam-sach/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s4.png" class="attachment-full size-full" alt="s4">Làm sạch</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2116"><a title="Sữa rửa mặt" href="https://thefaceshopvn.com/danh-muc/lam-sach/sua-rua-mat/">Sữa rửa mặt</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2113"><a title="Sản phẩm tẩy trang" href="https://thefaceshopvn.com/danh-muc/lam-sach/san-pham-tay-trang/">Sản phẩm tẩy trang</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2115"><a title="Tẩy tế bào chết" href="https://thefaceshopvn.com/danh-muc/lam-sach/tay-te-bao-chet/">Tẩy tế bào chết</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2122 menu-item-has-children"><a title="Trang điểm nền" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s5.png" class="attachment-full size-full" alt="s5">Trang điểm nền</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2123"><a title="Kem lót" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/kem-lot/">Kem lót</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2756"><a title="Phấn nước/CC Cream" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/phan-nuoc-cc-cream/">Phấn nước/CC Cream</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a title="Kem nền che khuyết điểm" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/kem-nen-che-khuyet-diem/">Kem nền che khuyết điểm</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2743"><a title="Kem nền đa năng BB Cream" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/kem-nen-da-nang-bb-cream/">Kem nền đa năng BB Cream</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2757"><a title="Phấn phủ bột/ Phấn nén" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/phan-phu-bot-phan-nen/">Phấn phủ bột/ Phấn nén</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2758"><a title="Thanh che khuyết điểm/ Má hồng" href="https://thefaceshopvn.com/danh-muc/trang-diem-nen/thanh-che-khuyet-diem-ma-hong/">Thanh che khuyết điểm/ Má hồng</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2168 menu-item-has-children"><a title="Trang điểm mắt môi" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s6.png" class="attachment-full size-full" alt="s6">Trang điểm mắt môi</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2169"><a title="Mascara" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/mascara/">Mascara</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2170"><a title="Màu mắt" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/mau-mat/">Màu mắt</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2172"><a title="Son môi" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/son-moi/">Son môi</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3421"><a title="Viền mắt/ Chì mày" href="https://thefaceshopvn.com/danh-muc/trang-diem-diem/vien-mat-chi-may/">Viền mắt/ Chì mày</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2120 menu-item-has-children"><a title="Mặt nạ" href="https://thefaceshopvn.com/danh-muc/mat-na/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s7.png" class="attachment-full size-full" alt="s7">Mặt nạ</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2759"><a title="Mặt nạ giấy" href="https://thefaceshopvn.com/danh-muc/mat-na/mat-na-giay/">Mặt nạ giấy</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2760"><a title="Mặt nạ lột/rửa/gel" href="https://thefaceshopvn.com/danh-muc/mat-na/mat-na-lot-rua-gel/">Mặt nạ lột/rửa/gel</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2101 menu-item-has-children"><a title="Chăm sóc cơ thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s8.png" class="attachment-full size-full" alt="s8">Chăm sóc cơ thể</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2762"><a title="Dưỡng tay/ Dưỡng chân" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/duong-tay-duong-chan/">Dưỡng tay/ Dưỡng chân</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2766"><a title="Tẩy tế bào chết cơ thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/tay-te-bao-chet-co-the/">Tẩy tế bào chết cơ thể</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2764"><a title="Sữa/ Gel tắm" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/sua-gel-tam/">Sữa/ Gel tắm</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2765"><a title="Sữa/ Kem/ Gel dưỡng thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/sua-kem-gel-duong-the/">Sữa/ Kem/ Gel dưỡng thể</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2761"><a title="Sản phẩm cho tóc" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/san-pham-cho-toc/">Sản phẩm cho tóc</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2763"><a title="Khử mùi cơ thể" href="https://thefaceshopvn.com/danh-muc/cham-soc-co-the/khu-mui-co-the/">Khử mùi cơ thể</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2102 menu-item-has-children"><a title="Bộ sản phẩm dưỡng da" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s10.png" class="attachment-full size-full" alt="s10">Bộ sản phẩm dưỡng da</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3416"><a title="Dr. Belmeur" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/dr-belmeur/">Dr. Belmeur</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3418"><a title="YEHWADAM" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/yehwadam/">YEHWADAM</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2185"><a title="White Seed" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/white-seed/">White Seed</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2187"><a title="Chia Seed" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/chia-seed/">Chia Seed</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2188"><a title="Clean Face" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/clean-face/">Clean Face</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3417"><a title="The Therapy" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/the-therapy/">The Therapy</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2755"><a title="Collagen" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/collagen/">Collagen</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3896"><a title="Herb Day" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/herb-day/">Herb Day</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3415"><a title="Dòng dưỡng gạo" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/dong-duong-gao/">Dòng dưỡng gạo</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2189"><a title="Perfume Seed" href="https://thefaceshopvn.com/danh-muc/bo-san-pham-duong-da/perfume-seed/">Perfume Seed</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-3419 menu-item-has-children"><a title="Sản phẩm khác" href="https://thefaceshopvn.com/danh-muc/san-pham-khac/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/s6.png" class="attachment-full size-full" alt="s6">Sản phẩm khác</a><ul role="menu" class=" sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2121"><a title="Nước hoa" href="https://thefaceshopvn.com/danh-muc/san-pham-khac/nuoc-hoa/"><img width="20" height="18" src="https://thefaceshopvn.com/wp-content/uploads/2017/04/s9.png" class="attachment-full size-full" alt="s9">Nước hoa</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3420"><a title="Phụ kiện" href="https://thefaceshopvn.com/danh-muc/san-pham-khac/phu-kien/"><img width="20" height="20" src="https://thefaceshopvn.com/wp-content/uploads/2018/01/s6-1.png" class="attachment-full size-full" alt="s6">Phụ kiện</a></li></ul></li></ul>
                                <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"></div></div></div></div>
                            </div>*@
                        </div>
                        
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid list_tab_hometheFace vc_custom_1491672334057 vc_row-has-fill" style="position: relative; left: -74.5px; box-sizing: border-box; width: 1349px; padding-left: 74.5px; padding-right: 74.5px;">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        @foreach (var menuitem in data_MenuItem)
                                        {
                                            var lstsubmenuitem = menuitem.MenuSubItems.Take(5).ToList();
                                            var randomProductByCategory = data_ProductGroupByCategory.Where(x=>x.CategoryId== menuitem.CategoryId).ToList();
                                            //var randomProductByCategory = DefaultView.FE_Product.GetByCategory(menuitem.CategoryId.ToString()).Take(8).ToList();
                                            if (randomProductByCategory != null && randomProductByCategory.Count > 4 && randomProductByCategory.Count < 8)
                                            {
                                                randomProductByCategory = randomProductByCategory.Take(4).ToList();
                                            }

                                            <div class="box-tab-category vc_custom_@menuitem.CategoryId option2 tab-2" id="change-color-category@menuitem.CategoryId" data-target="change-color" data-color="#9dbf17" data-rgb="157,191,23">
                                                <div class="category-featured container-tab">
                                                    <nav class="navbar nav-menu show-brand">
                                                        <div class="container-fuild">
                                                            <div class="navbar-brand">
                                                                <a href="@Url.Action("Index", "Category", new {  Id = menuitem.CategoryId })">
                                                                    @menuitem.CategoryName
                                                                </a>
                                                            </div>
                                                            <span class="toggle-menu"></span><div class="collapse navbar-collapse">
                                                                <ul class="nav navbar-nav">
                                                                    <li class="active">
                                                                        <a data-toggle="tab" href="#tab-@menuitem.CategoryId-0">
                                                                            Các sản phẩm
                                                                        </a>
                                                                    </li>
                                                                    @for (var i = 0; i < lstsubmenuitem.Count; i++)
                                                                    {
                                                                        <li>
                                                                            <a data-toggle="tab" href="#tab-@menuitem.CategoryId-@(i+1)">
                                                                                @lstsubmenuitem[i].SubCategoryName
                                                                            </a>
                                                                        </li>
                                                                    }

                                                                </ul>
                                                            </div>
                                                        </div><div class="floor-elevator">
                                                            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                                                            <a href="#" class="btn-elevator down fa fa-angle-down"></a>
                                                        </div>
                                                    </nav><div class="product-featured clearfix">
                                                        <div class="row">
                                                            <div class="col-sm-2 sub-category-wapper">
                                                                <ul class="sub-category-list">
                                                                    @foreach (var submenuitem in menuitem.MenuSubItems)
                                                                    {
                                                                        <li>
                                                                            <a href="@Url.Action("Index","SubCategory",new { Id=submenuitem.SubCategoryId})">@submenuitem.SubCategoryName</a>
                                                                        </li>
                                                                    }

                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-10 col-right-tab">
                                                                <div class="product-featured-tab-content">
                                                                    <div class="tab-container">
                                                                        <div class="tab-panel active" id="tab-@menuitem.CategoryId-0">
                                                                            <div class="box-right">
                                                                                <ul class="product-list row autoHeight">
                                                                                    @foreach (var ProductItemRandom in randomProductByCategory)
                                                                                    {
                                                                                        <li class="col-sm-3" style="">
                                                                                            <div class="left-block kt-template-loop">
                                                                                                <a href="@Url.Action("Index","Product",new { Id=ProductItemRandom.ProductId})">
                                                                                                    <img class="owl-lazy attachment-kt_shop_catalog_214 wp-post-image"
                                                                                                         src="@ProductItemRandom.ProductImg" data-src="@ProductItemRandom.ProductImg" width="300" height="300" alt="@ProductItemRandom.ProductName">
                                                                                                    @*<span class="giamgia_">-@ProductItemRandom.Discount<i>%</i></span>*@
                                                                                                </a>
                                                                                                <div class="quick-view">
                                                                                                    <div class="woocommerce product compare-button">
                                                                                                        <a href="@Url.Action("Index","Product",new { Id=ProductItemRandom.ProductId})" class="compare button" data-product_id="@ProductItemRandom.ProductId" rel="nofollow">
                                                                                                            Compare
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <a href="#" class="search yith-wcqv-button" data-product_id="@ProductItemRandom.ProductId">Quick View</a>
                                                                                                </div>
                                                                                                <div class="add-to-cart">
                                                                                                    <a href="@Url.Action("AddItemToBill","Bill",new { ProductId=ProductItemRandom.ProductId})" rel="nofollow" data-product_id="@ProductItemRandom.ProductId" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a>
                                                                                                </div><a href="#" class="button yith-wcqv-button" data-product_id="@ProductItemRandom.ProductId">Quick View</a>
                                                                                            </div><div class="right-block">
                                                                                                <h5 class="product-name"><a title="@ProductItemRandom.ProductName" href="@Url.Action("Index","Product",new { Id=ProductItemRandom.ProductId})">@ProductItemRandom.ProductName</a></h5>
                                                                                                <div class="content_price">
                                                                                                    <span class="price product-price">
                                                                                                        <span class="price">
                                                                                                            <del>
                                                                                                                <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItemRandom.Price)) <span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                                            </del>
                                                                                                            <ins>
                                                                                                                <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItemRandom.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                                            </ins>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    }

                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        @for (var i = 0; i < lstsubmenuitem.Count; i++)
                                                                        {
                                                                            <div class="tab-panel " id="tab-@menuitem.CategoryId-@(i+1)">
                                                                                <div class="box-right">
                                                                                    <ul class="product-list row autoHeight">
                                                                                        @foreach (var ProductItem in lstsubmenuitem[i].ProductItems)
                                                                                        {
                                                                                            <li class="col-sm-3" style="">
                                                                                                <div class="left-block kt-template-loop">
                                                                                                    <a href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})">
                                                                                                        <img class="owl-lazy attachment-kt_shop_catalog_214 wp-post-image"
                                                                                                             src="@ProductItem.ProductImg" data-src="@ProductItem.ProductImg" width="300" height="300" alt="@ProductItem.ProductName">
                                                                                                        @*<span class="giamgia_">-@ProductItem.Discount<i>%</i></span>*@
                                                                                                    </a>
                                                                                                    <div class="quick-view">
                                                                                                        <div class="woocommerce product compare-button">
                                                                                                            <a href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})" class="compare button" data-product_id="@ProductItem.ProductId" rel="nofollow">
                                                                                                                Compare
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        <a href="#" class="search yith-wcqv-button" data-product_id="@ProductItem.ProductId">Quick View</a>
                                                                                                    </div>
                                                                                                    <div class="add-to-cart">
                                                                                                        <a href="@Url.Action("AddItemToBill","Bill",new { ProductId=ProductItem.ProductId})" rel="nofollow" data-product_id="@ProductItem.ProductId" data-product_sku="" data-quantity="1" class="add_to_cart_button product_type_simple">Thêm vào giỏ</a>
                                                                                                    </div><a href="#" class="button yith-wcqv-button" data-product_id="@ProductItem.ProductId">Quick View</a>
                                                                                                </div><div class="right-block">
                                                                                                    <h5 class="product-name"><a title="@ProductItem.ProductName" href="@Url.Action("Index","Product",new { Id=ProductItem.ProductId})">@ProductItem.ProductName</a></h5>
                                                                                                    <div class="content_price">
                                                                                                        <span class="price product-price">
                                                                                                            <span class="price">
                                                                                                                <del>
                                                                                                                    <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItem.Price)) <span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                                                </del>
                                                                                                                <ins>
                                                                                                                    <span class="woocommerce-Price-amount amount">@Html.Raw(String.Format(CultureInfo.InvariantCulture, "{0:#,#}", ProductItem.PriceAmount))<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                                                </ins>
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </li>
                                                                                        }
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row-full-width"></div>
                        <div class="vc_row wpb_row vc_row-fluid" style="display:none;">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="blog-list vc_custom_1513519715996">
                                            <h2 class="page-heading">
                                                <span class="page-heading-title">Góc làm đẹp</span>
                                            </h2><div class="blog-list-wapper">
                                                <ul class="owl-carousel owl-theme owl-loaded" data-autoplay="false" data-nav="true" data-margin="10" data-slidespeed="250" data-theme="style-navigation-bottom" data-autoheight="false" data-dots="false" data-loop="false" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:&quot;1&quot;},&quot;768&quot;:{&quot;items&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;items&quot;:&quot;4&quot;}}">
                                                    <div class="owl-stage-outer">
                                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 14750px;"></div>

                                                    </div>
                                                    <div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>
</div>